<picture class="features__photo">
  <source
    width="138"
    height="138"
    srcset="
      images/benefits/tablet/subscription@1x.webp 1x,
      images/benefits/tablet/subscription@2x.webp 2x
    "
    media="(max-width: 1439px)"
    type="image/webp"
  >
  <source
    width="138"
    height="138"
    srcset="
      images/benefits/tablet/subscription@1x.png 1x,
      images/benefits/tablet/subscription@2x.png 2x
    "
    media="(max-width: 1439px)"
    type="image/png"
  >

  <source
    width="221"
    height="221"
    srcset="
      images/benefits/desktop/subscription@1x.webp 1x,
      images/benefits/desktop/subscription@2x.webp 2x
    "
    media="(min-width: 1440px)"
    type="image/webp"
  >
  <source
    width="221"
    height="221"
    srcset="
      images/benefits/desktop/subscription@1x.png 1x,
      images/benefits/desktop/subscription@2x.png 2x
    "
    media="(min-width: 1440px)"
    type="image/png"
  >

  <img
    width="221"
    height="221"
    class="features__photo"
    src="images/benefits/tablet/subscription@1x.png"
    alt="Долари та центи"
  >
</picture>
