.title{
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 64px;
  }
}


.block-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap:30px;
  }
  @media screen and (min-width: 1440px) {
    gap:40px;
  }
}



.block {
  display:flex;
  flex-direction: column;
  background-color: $first-additional-bg-color;
  transition: background-color $cubic, box-shadow $cubic;
  border-radius: 20px;
  padding: 32px 24px;
  flex-basis: calc((100% - 24px)/2);
  min-height: 417px;
  
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px)/2);
    min-height: auto;
  }
  @media screen and (min-width: 1440px) {
    flex-basis: calc((100% - 40px)/2);
    border-radius: 30px;
    padding: 40px;
  }
}

.active-dark-theme .block {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.block--white {
  background-color: $primary-white-color;
}

.active-dark-theme .block--white {
  background-color: $second-additional-bg-color;
}



.block:not(.block--trust):nth-child(2) {
  @media screen and (min-width: 768px) and (max-width: 1439px){
    padding-right: 21px;
  }
 }
  
.block__number {
   color: $main-accent-color;
   font-weight: 600;
   font-size: 24px;
   line-height: 1.21;
   margin-bottom: 24px;
  @media screen and (min-width: 1440px){
    font-size: 32px;
    line-height: 1.38;
  }
}

.block__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 12px;
  @media screen and (min-width: 1440px) {
    font-size: 22px;
    line-height: 1.23;
    margin-bottom: 16px;
  }
}

.block__text {
  
  font-size: 16px;
  line-height: 1.38;
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.39;
  }
  span {
    font-weight: 700;
  }
}

.block__text:not(.block__text--trust) {
text-align: justify;
}

.block__remark {
  margin-top: auto;
  // color: $additional-text-color;
  color: $btn-arrow-color;
  font-size: 14px;
  line-height: 1.36;
  @media screen and (min-width: 1440px) {
    font-size: 16px;
    line-height: 1.38;
  }
}

.swiper {
  border-radius: 20px;
  @media screen and (min-width: 768px) {
    border-radius: 30px;
  }
}
.rooms__image, .swiper-slide {
  border-radius: 20px;
  @media screen and (min-width: 768px) {
    border-radius: 30px;
  }
}

// .swiper-slide {
// overflow: hidden;
// }

.section--cleaning-types .swiper-pagination-rooms {
  position: static;
  display: flex;
  align-items: center;
  padding: 6px;
  border: 2px solid $main-accent-color;
  border-radius: 50px;
  margin-bottom: 24px;
  margin-top: 48px;
  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
    margin-top: 72px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 148px;
  }

}



.section--cleaning-types .swiper-pagination-bullet {
  display: flex;
  align-items: center;
  justify-content: center;
  width:auto;
  height:auto;
  flex-basis: calc(100% / 3);
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 50px;
  font-size: 16px;
  line-height: 1.38;
  font-weight: 600;
  opacity:1;
  cursor: pointer;
  background-color: transparent;
  color: $primary-black-color;
  transition: color $cubic, background-color $cubic;
  @media screen and (min-width: 768px) {
      font-size: 18px;
      line-height: 1.39;
      
  }
  @media screen and (min-width: 1440px) {
      font-size: 20px;
      line-height: 1.35;
      
  }

  &.swiper-pagination-bullet-active {
    background-color: $main-accent-color;
    color: $primary-white-color;
  }

  &:not(.swiper-pagination-bullet-active):hover {
    background-color: $main-accent-color;
    color: $primary-white-color;
    
  }
}

.section--cleaning-types .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin:0;
}


.nav__link--current {
  color: $primary-white-color;
}

.slider__wrap {
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  width: 335px;
  height: 223px;
  
    @media screen and (min-width: 768px) {
      width: 690px;
      height: 459px;
      border-radius: 30px;
    }
    @media screen and (min-width: 1440px) {
      width: 1160px;
      height: 771px;
    }
}

 .rooms__schema {
  position: relative;
  border-radius: 20px;
  width: 335px;
    height: 223px;
  @media screen and (min-width: 768px) {
    width: 690px;
      height: 459px;
    border-radius: 30px;
  }
  transition: transform $cubic;
    position: absolute;
    left: 0;
    top:0;
  @media screen and (min-width: 1440px) {
    width: 1160px;
    height: 771px;
  }
}

.toolkit__icon {
  fill: $main-accent-color;
  width: 13px;
  height: 13px;
  z-index: 2;

  @media screen and (min-width: 768px) {
    width: 18px;
    height: 18px;
  }

  @media screen and (min-width: 768px) {
    width: 28px;
    height: 28px;
  }
}

.toolkit__btn::before, .toolkit__btn--reverse::before {
  content:'';
  z-index: 1;
  position: absolute;
  border-radius: 50%;
  background-color: $light-accent-color;
  width: 20px;
  height: 20px;
  animation: pulsate 1s infinite;
  @media screen and (min-width: 768px) {
    width: 28px;
    height: 28px;
  }
  @media screen and (min-width: 768px) {
    width: 38px;
    height: 38px;
  }
 

}



.plus-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}

.toolkit__wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.toolkit__btn:not(.toolkit__btn--reverse) {
  cursor: pointer;
  position: absolute;
  top: 95%;
  left:50%;
  transform: translate(-50%,-100%);
}

.toolkit__btn--reverse {
  cursor: pointer;
  position: absolute;
  bottom: 95%;
  left:50%;
  transform: translate(-50%,100%);
}


.toolkit__desc {
  text-align: center;
  display: block;
  background-color: $primary-white-color;
  border-radius: 5px;
  padding: 4px 6px;
  font-size: 9px;
  line-height: 1.33;
  transition: opacity $cubic;
  opacity: 0;
  @media screen and (min-width: 768px) {
    padding: 7px 10px;
    font-size: 13px;
    line-height: 1.38;
  }
  
  
}
.toolkit__desc:not(.toolkit__desc--reverse) {
  position:relative;
  margin-bottom: 9px;
  @media screen and (min-width: 768px) {
    margin-bottom: 14px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 34px;
  }
  
}

.toolkit__desc--reverse {
  position: absolute;
  bottom:0;
  margin-bottom: 0;
  margin-top: 9px; 
  @media screen and (min-width: 768px) {
    margin-top: 14px;
  }
}



.is-shown {
  opacity: 1;
}







.toolkit__desc:not(.toolkit__desc--reverse):after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top: 5px solid $primary-white-color;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}

.toolkit__desc--reverse:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom: 5px solid $primary-white-color;
  bottom:100%;
  left: 50%;
  transform: translate(-50%, 0);
}






