.discounts__slider {
  position:relative;
}

.swiper-container-nested {
  position:relative;
}

.swiper-container-parent {
 overflow: hidden;
 border-radius: none;
}

.swiper-container-nested {
  overflow: hidden;

    height: 300px;
  
  @media screen and (min-width: 768px) {
    height: 400px;
  }
  @media screen and (min-width: 1440px) {
    height: 628px;
  }
  
}


.swiper-container-parent .swiper-slide {
  border-radius: 0;
}


.discounts__slide {
  position: relative;
  width: 335px;
    height: 300px;
  @media screen and (min-width: 768px) {
    width: 690px;
    height: 400px;
  }
  @media screen and (min-width: 1440px) {
    width: 1160px;
    height: 628px;
  }
  box-shadow: 0 0 12px 12px $first-additional-bg-color inset;
  background-color: $first-additional-bg-color;
  background-size: cover;
}


.active-dark-theme .discounts__slide {
  box-shadow: 0 0 12px 12px $dark-add-color inset;
  background-color: $dark-add-color;
 }

.swiper-slide__glass {
  position:absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 65px;
  left: 5%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.38);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  height: calc(90% - 40px);
  overflow: hidden;
    padding: 20px;
    padding-left:50px;
    // width: calc(90% - 220px);
    width: 90%;
  @media screen and (min-width: 768px) {
    top: 5%;
    height: 90%;
    padding: 30px 20px;
    padding-left: 80px;
    width: calc(90% - 220px);
  }
  @media screen and (min-width: 1440px) {
    padding: 40px 30px;
    padding-left: 130px;
    width: calc(90% - 320px);
  }
}

.swiper-slide__glass:before {
  content: '';
  z-index: 2;
  position: absolute;
  top: -10%;
  height: 110%;
  background-color:$discount-color;
  left: 15px;
  width: 20px;
  @media screen and (min-width: 768px) {
  left: 30px;
  width: 30px;
  }
  @media screen and (min-width: 1440px) {
  left: 50px;
  width: 40px;
  }
  
}

.swiper-slide__glass:after {
  content: '';
  z-index: 3;
  position: absolute;
  
  transform: rotate(-30deg);
  background-image: url(../images/discounts/tie.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 20px;
    left: 0px;
    width: 50px;
    height:60px;
  @media screen and (min-width: 768px) {
    top: 20px;
    left: 0px;
    width: 90px;
    height:80px;
  }
    @media screen and (min-width: 1440px) {
      top: 30px;
      left: 0;
      width: 130px;
      height: 110px;
    }
}

.glass__descr {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 600;
  font-size:14px;
  
  @media screen and (min-width: 768px) {
      gap:10px;
      font-size:20px;
    }
    @media screen and (min-width: 1440px) {
      gap:20px;
      font-size:24px;
    }
}

.glass__terms {
  font-style: italic;
  font-weight: 600;
  font-size:14px;
  @media screen and (min-width: 768px) {
    text-align:right;
    font-size:18px;
  }
  @media screen and (min-width: 1440px) {
    font-size:24px;
  }
}

.glass__accent {
  font-weight: 700;
  font-size:16px;
  color: $main-accent-color;
  animation: color-cycle 4s infinite;
  @media screen and (min-width: 768px) {
    font-size:22px;
  }
  @media screen and (min-width: 1440px) {
    font-size:28px;
  }
}
.glass__accent--term {
  font-weight: 700;
  color: $main-accent-color;
  @media screen and (min-width: 768px) {
    
    font-size:20px;
  }
  @media screen and (min-width: 1440px) {
    font-size:28px;
  }
  
}

.swiper-pagination-parent {
  position: static;
  display: flex;
  margin: 0 auto;
  margin-top: 15px;
  gap: 10px;
  @media screen and (min-width: 768px) {
    margin-top: 20px;
      gap: 10px;
    }
    @media screen and (min-width: 1440px) {
      margin-top: 30px;
      gap: 20px;
    }
}

.swiper-pagination-parent.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: fit-content;
}

.swiper-pagination-parent .swiper-pagination-bullet {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  color: $primary-black-color;
  opacity: 1;
  background: $additional-text-color;
  color: $primary-white-color;
  margin: 0;
  padding: 5px;
  width: 30px;
  height: 30px;
  @media screen and (min-width: 768px) {
    padding: 10px;
    width: 40px;
    height: 40px;
    }
    @media screen and (min-width: 1440px) {
      width: 50px;
      height: 50px;
    }
}


.discount__pagination-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.swiper-pagination-parent .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  opacity:0.4;
}

.swiper-pagination-nested.swiper-pagination-bullets {
  top:20px;
  right:20px;
  left:auto;
  display: flex;
  width: fit-content;
  gap: 10px;
  
  transform: translate3d(0,0,0);
  @media screen and (min-width: 768px) {
    flex-direction: column;
    }
    @media screen and (min-width: 1440px) {
      gap: 20px;
    }
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}


.swiper-pagination-nested .swiper-pagination-bullet {
 
  height: auto;
  text-align: center;
  border-radius: 30px;
  
  color: $primary-black-color;
  opacity: 1;
  background: $additional-text-color;
  color: $primary-white-color;
  
  width: fit-content;
  font-size: 12px;
  padding: 5px;
  @media screen and (min-width: 768px) {
    font-weight: 500;
    width: 220px;
    font-size: 14px;
    padding: 10px;
  }
    @media screen and (min-width: 1440px) {
      width: 320px;
      min-width: 230px;
      font-size: 18px;
      padding: 15px 20px;
    }

}

.swiper-pagination-parent .swiper-pagination-bullet-active {
    background-color: $main-accent-color;
   svg {
    fill:  $primary-white-color;
   }
}

.swiper-pagination-nested .swiper-pagination-bullet-active {
  color:  $primary-white-color;
  background:$main-accent-color;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin:0;
}



.promo {
  position: relative;
  display: flex;
  width: fit-content;
  justify-content: space-between;
  border-radius:50px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  height: 30px;
  @media screen and (min-width: 768px) {
    height: 50px;
  }
  @media screen and (min-width: 1440px) {
    height: 70px;
  }
}

.promo:before, .promo:after {
  content:'';
  position: absolute;
  left:-2px;
  top:-2px;
  background: linear-gradient(45deg, #4D1299, #EBE7F3, #4D1299, #EBE7F3, #4D1299);
  background-size: 400%;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: -1;
  animation: promo 20s linear infinite;
  border-radius: 50px;
  

}

.promo:after {
  filter: blur(40px);
 
}


.promo__wrapper {
  display: flex;
  color: $primary-white-color;
  font-size: 14px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
  }
  
  
}
.promo__wrapper--left {
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 700;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: $discount-color;
  width: 115px;
  padding:10px 10px;
  
  @media screen and (min-width: 768px) {
    width: 155px;
    padding:20px 10px;

  }
  @media screen and (min-width: 1440px) {
    width: 230px;
    padding:20px;
  }
}
.promo__wrapper--right {
  display: flex;
  align-items: center;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: $primary-white-color;
  
  span {
    color: $primary-black-color;
    transform: translate(-10px) scale(1);
    // @media screen and (min-width: 768px) {
    //   transform: translate(-10px) scale(1);
    // }
    @media screen and (min-width: 1440px) {
      transform: translate(-20px) scale(1);
    }
    
    transition: color $cubic, transform $cubic;
    &.isCopied {
      color: $main-accent-color;
      transform: translate(-10px) scale(1.1);
      // @media screen and (min-width: 768px) {
      //   transform: translate(-10px) scale(1.1);
      // }
      @media screen and (min-width: 1440px) {
        transform: translate(-20px) scale(1.1);
      }
    };
  }
  padding: 10px;
  padding-left: 5px;
  padding-right: 10px;
  // @media screen and (min-width: 768px) {
  //   padding: 10px;
  //   padding-left: 5px;
  //   padding-right: 10px;
  // }
  @media screen and (min-width: 1440px) {
  padding: 20px;
  padding-left: 5px;
  padding-right: 10px;
  }
}


.promo__wrapper--left:after {
  content:'';
  position: absolute;
  top:0;
  right: 0;
	border-bottom: 30px solid $primary-white-color;
	  border-left: 20px  solid transparent;
  @media screen and (min-width: 768px) {
    border-bottom: 50px solid $primary-white-color;
	  border-left: 40px  solid transparent;
  }
  @media screen and (min-width: 1440px) {
    border-bottom: 70px solid $primary-white-color;
	border-left: 60px  solid transparent;
  }
}

.promo__copy-icon {
  cursor: pointer;
  width: 20px;
    height: 20px;
  transition: fill $cubic;
  &:hover {
    fill: $main-accent-color;
  }
   @media screen and (min-width: 1440px) {
    width: 30px;
    height: 30px;
  }
}

