.dry-clean__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:$card-back-effect-color;
  
  
}

.dry-clean__item.swiper-slide {
    filter: blur(4px);
  border-radius: 10px;
  overflow: hidden;
    width: 180px;
    height: 250px;
  @media screen and (min-width: 768px) {
    width: 220px;
    height: 300px;
  }

  @media screen and (min-width: 1440px) {
    width: 320px;
    height: 400px;
  }
}
.dry-clean__item.swiper-slide-active {
  filter: blur(0);
  background-color: $card-hover-effect-color;
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left,rgba(0,0,0,.3),rgba(0,0,0,0));
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right,rgba(0,0,0,.3),rgba(0,0,0,0));
}

.dry-clean__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid $primary-black-color;
  padding: 10px;
  
    @media screen and (min-width: 1440px) {
    padding: 20px;
  }
  
}

.dry-clean__item:before{
  content:'';
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $overlay-color;
  z-index: -2;
  opacity: 0.3;
}


.dry-clean__duration  {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: baseline;
  font-weight: 400;
  color: $dark-theme;
  border-radius: 10px;
  align-self: flex-end;
  font-size: 14px;
  padding: 10px;
@media screen and (min-width: 768px) {
  font-size: 16px;
}
@media screen and (min-width: 1440px) {
  font-size: 20px;
  padding: 10px 20px;
}
}

.active-dark-theme .dry-clean__duration, 
.active-dark-theme .dry-clean__cost  {
  color: $second-additional-bg-color;
}

.dry-clean__cost {
  position: relative;
  font-weight: 700;
  color: $primary-black-color;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
@media screen and (min-width: 768px) {
  font-size: 18px;
}

@media screen and (min-width: 1440px) {
  font-size: 24px;
  padding: 10px 20px;
}
}

.dry-clean__cost:before {
  content:'';
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $primary-white-color;
  z-index: -1;
  filter: blur(4px);
}

.dry-clean__duration:before {
  content:'';
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $primary-white-color;
  z-index: -1;
  filter: blur(4px);
}

.active-dark-theme .dry-clean__duration:before, 
.active-dark-theme .dry-clean__cost:before {
  background-color: $dark-theme;
}


.dry-clean__title {
position: relative;
font-family: "Open Sans", sans-serif;
font-weight: 600;

color: $primary-black-color;
padding: 10px;
border-radius: 10px;
font-size: 20px;
@media screen and (min-width: 768px) {
  font-size: 22px;
}
@media screen and (min-width: 1440px) {
  font-size: 28px;
  padding: 10px 20px;
}
}

.dry-clean__title::before {
  content:'';
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $additional-light-accent-color;
  z-index: -1;
  filter: blur(4px);
}