.team__wrapper {
  position: relative;
  height: 720px;
}


.team__circular-slider {
  display: flex;
  gap: 40px;
  position: relative;
  // height: 800px;
  height: 400px;
  overflow: hidden;
  // background-color: red;
  transition: all $cubic;
  padding-top: 50px;
}




.team__slider-container {
  padding-left: 30px;
  padding-right: 30px;
  
}


.team__circular-section  img {
  max-width: 100%;
  height: auto;
  filter: drop-shadow(5px 5px 15px #000000);
}



.team__circular-section.team-active-slide  img  {
  filter: drop-shadow(5px 5px 15px $main-accent-color);

}


.team-active-slide {
  transform: scale(1.4);

}

.team__slide:hover {
  transform: scale(1.4);
}

.team__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  z-index: 1;
  font-size: 30px;
  border: none;
  background-color: transparent;
  transition: background-color $cubic;
  cursor: pointer;
  @media screen and (max-width: 767px) {
    display: none;
}
  @media screen and (min-width: 768px) {
    position: absolute;

    top: 320px;
    width: 25px;
    height:25px;
  }
  @media screen and (min-width: 1440px) {
    top: 250px;
    width: 30px;
    height: 30px;
  }

  &:hover {
    i {
      color: $main-accent-color;
    }
  }
   i {
    transition: color $cubic;
    width: 30px;
    height: 30px;
   }

}

.team__btn-prev {
  left: 0px;
}

.team__btn-next {
  right: 0px;
}

.team__circular-section {
  max-width: 200px;
  width: 200px;
  height: 200px;
  position: absolute;
  transition: all $cubic;
  cursor: pointer;
  // transition: all ease 3000ms;
  
}





.team__circular-section.slide-2 {
  top: 90px;
  left: 50%;
  transform: translateX(-50%) scale(1);
  
 
}
.team__circular-section.slide-2.team-active-slide {
  top: 90px;
  left: 50%;
  transform: translateX(-50%) scale(1.4);

}
.team__circular-section.slide-2.team-active-slide,
.team__circular-section.slide-5.team-active-slide {
  transform: translateX(-50%) scale(1.4);
}


.team__circular-section.slide-3 {
  top:260px;
  left: 80%;
  transform: translateX(-50%) translateY(-50%) rotate(15deg);

}

.team__circular-section.slide-3.team-active-slide {
  transform: translateX(-50%) translateY(-50%) rotate(15deg) scale(1.4);

}


.team__circular-section.slide-4 {
  top: 540px;
  left:100%;
  transform: translateX(-50%) translateY(-50%) rotate(15deg);
}

.team__circular-section.slide-4.team-active-slide {
  transform: translateX(-50%) translateY(-50%) rotate(15deg) scale(1.4);
}


.team__circular-section.slide-5 {
  top: 540px;
  left: 50%;
  transform: translateX(-50%);
}


.team__circular-section.slide-6 {
  top: 540px;
  left: 0;
  transform: translateX(-50%) translateY(-50%) rotate(-15deg);
}

.team__circular-section.slide-6.team-active-slide {
  transform: translateX(-50%) translateY(-50%) scale(1.4);
}

.team__circular-section.slide-1 {
  top: 260px;
  left: 20%;
  transform: translateX(-50%) translateY(-50%) rotate(-15deg);
}
.team__circular-section.slide-1.team-active-slide {
  transform: translateX(-50%) translateY(-50%) rotate(-15deg) scale(1.4);
  
}

.team__member-info {
  position: relative;
  top: -20px;
  margin: 0 auto;
  border-radius: 30px;
  text-align: center;
  background-color: $card-hover-effect-color;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width:fit-content;
  max-width: 420px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    transition: all $cubic;
}

.member-info__title {
  font-size: 22px;
  font-weight: 700;
}

.member-info__exp {
  font-size: 20px;
  font-style: italic;
}

.member-info__quote {

  font-weight: 600;
  font-size: 20px;
  font-style: italic;
}