<table class="success-order-info-table success-table">
  <tr>
    <th class="success-order__name">Ім'я</th>
    <td class="success-order__value" data-field="userName"></td>
  </tr>
  <tr>
    <th class="success-order__name">Прізвище</th>
    <td class="success-order__value" data-field="userSurname"></td>
  </tr>
  <tr>
    <th class="success-order__name">Номер телефону</th>
    <td class="success-order__value" data-field="userTel"></td>
  </tr>
  <tr>
    <th class="success-order__name">Email</th>
    <td class="success-order__value" data-field="userEmail"></td>
  </tr>

  <tr>
    <th class="success-order__name">Дата прибирання</th>
    <td class="success-order__value" data-field="userDate"></td>
  </tr>
  <tr>
    <th class="success-order__name">Час прибирання</th>
    <td class="success-order__value" data-field="userTime"></td>
  </tr>
  <tr>
    <th class="success-order__name">Адреса прибирання</th>
    <td class="success-order__value" data-field="userLocation"></td>
  </tr>
  <tr>
    <th class="success-order__name">Коментар</th>
    <td class="success-order__value" data-field="userComment"></td>
  </tr>
  <tr>
    <th class="success-order__name">Де забрати ключі</th>
    <td class="success-order__value" data-field="userGiveKeyAddress"></td>
  </tr>
  <tr>
    <th class="success-order__name">Куди віддати ключі</th>
    <td class="success-order__value" data-field="userTakeKeyAddress"></td>
  </tr>
  <tr>
    <th class="success-order__name">Тип будівлі</th>
    <td class="success-order__value" data-field="userBuildingType"></td>
  </tr>
  <tr>
    <th class="success-order__name">Тип оплати</th>
    <td class="success-order__value" data-field="userPaymentType"></td>
  </tr>
  <tr>
    <th class="success-order__name success-order--total">Вартість</th>
    <td
      class="success-order__value success-order--total"
      data-field="total"
    ></td>
  </tr>
</table>
