<section
  class="relative-positionedsection section--dark-background section--success"
>
  <div class="container hero__container relative-positioned">
    <div class="hero__info">
      <h1 class="hero__title title--success">
        Дякуємо за замовлення клінінгу!
      </h1>

      <p class="hero__text">
        Ми зв’яжемося з вами найближчим часом для підтвердження дати та часу
        клінінгу.
      </p>
      <include src="./partials/success/success-order-table.html"></include>
      <include src="./partials/success/success-services-table.html"></include>
      <div class="success__wrap">
        <p class="hero__text text--success">
          Слідкуйте за нами в соц. мережах!
        </p>
        <ul class="socials socials--success">
          <li class="socials__item">
            <a
              class="socials__link"
              href="https://www.instagram.com/"
              aria-label="Посилання на Інстраграм компанії"
              target="_blank"
            >
              <svg
                class="socials__icon socials__inst-icon"
                width="40"
                height="40"
              >
                <use href="../images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link"
              href="https://www.facebook.com"
              aria-label="Посилання на Фейсбук компанії"
              target="_blank"
              ><svg
                class="socials__icon socials__facebook-icon"
                width="40"
                height="40"
              >
                <use href="../images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link"
              href="https://www.messenger.com/"
              aria-label="Посилання на Вотсап компанії"
              target="_blank"
              ><svg
                class="socials__icon socials__whatsApp-icon"
                width="40"
                height="40"
              >
                <use href="../images/sprite.svg#icon-whatsApp"></use>
              </svg>
            </a>
          </li>
        </ul>
        <a
          href="./index.html"
          class="hero__btn action-btn btn back-to-home-btn"
        >
          На головну
        </a>
      </div>
    </div>
    <div class="image-success-thumb">
      <div class="image--success"></div>
    </div>
  </div>
</section>
