<picture class="rooms__image">
  <source
    width="335"
    height="223"
    srcset="
      images/rooms/mobile/kitchen@1x.webp 1x,
      images/rooms/mobile/kitchen@2x.webp 2x
    "
    media="(max-width: 767px)"
    type="image/webp"
  >
  <source
    width="335"
    height="223"
    srcset="
      images/rooms/mobile/kitchen@1x.png 1x,
      images/rooms/mobile/kitchen@2x.png 2x
    "
    media="(max-width: 767px)"
    type="image/png"
  >

  <source
    width="690"
    height="459"
    srcset="
      images/rooms/tablet/kitchen@1x.webp 1x,
      images/rooms/tablet/kitchen@2x.webp 2x
    "
    media="(max-width: 1439px)"
    type="image/webp"
  >
  <source
    width="690"
    height="459"
    srcset="
      images/rooms/tablet/kitchen@1x.png 1x,
      images/rooms/tablet/kitchen@2x.png 2x
    "
    media="(max-width: 1439px)"
    type="image/png"
  >

  <source
    width="1160"
    height="771"
    srcset="
      images/rooms/desktop/kitchen@1x.webp 1x,
      images/rooms/desktop/kitchen@2x.webp 2x
    "
    media="(min-width: 1440px)"
    type="image/webp"
  >
  <source
    width="1160"
    height="771"
    srcset="
      images/rooms/desktop/kitchen@1x.png 1x,
      images/rooms/desktop/kitchen@2x.png 2x
    "
    media="(min-width: 1440px)"
    type="image/png"
  >

  <img
    width="1160"
    height="771"
    src="images/rooms/desktop/kitchen@1x.png"
    alt="Фото кухні"
    loading="lazy"
  >
  
</picture>

