<section class="section section--dark-background section--service-buildings">
  <div class="container">
    <h2 class="section__title title">Клінінг у Лодзі</h2>
    <ul class="block-wrapper service-buildings__list">
      
    <li class="buildings__item service-buildings__item">
      <div class="buildings__overlay"></div>
      <a href="./" class="buildings__link">
        <div class="buildings__icon-wrap">
          <picture class="buildings__image">
            <source
              srcset="
                ../images/buildings/home@1x.webp 1x,
                ../images/buildings/home@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ../images/buildings/home@1x.png 1x,
                ../images/buildings/home@2x.png 2x
              "
              type="image/png"
            />
            <img
              width="161"
              height="100"
              class="buildings__image"
              src="../images/buildings/home@1x.png"
              alt="Будинок"
            />
          </picture>
        </div>
      <h3 class="block__title buildings__text service-buildings__text">Прибирання квартир та будинків</h4>
    </a>
      
    </li>
    <li class="buildings__item service-buildings__item">
      <div class="buildings__overlay"></div>
      <a href="./office.html" class="buildings__link">
        <div class="buildings__icon-wrap">
          <picture class="buildings__image">
            <source
              srcset="
                ../images/buildings/office@1x.webp 1x,
                ../images/buildings/office@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ../images/buildings/office@1x.png 1x,
                ../images/buildings/office@2x.png 2x
              "
              type="image/png"
            />
            <img
              width="161"
              height="100"
              class="buildings__image"
              src="../images/buildings/office@1x.png"
              alt="Офіс"
            />
          </picture>
          
        </div>
      <h3 class="block__title buildings__text service-buildings__text">Прибирання офісних приміщень</h4></a>
        
    </li>
    <li class="buildings__item service-buildings__item">
      <div class="buildings__overlay"></div>
      <a href="./after-repair.html" class="buildings__link">
        <div class="buildings__icon-wrap">
          <picture class="buildings__image">
            <source
              srcset="
                ../images/buildings/repair@1x.webp 1x,
                ../images/buildings/repair@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ../images/buildings/repair@1x.png 1x,
                ../images/buildings/repair@2x.png 2x
              "
              type="image/png"
            />
            <img
              width="161"
              height="100"
              class="buildings__image"
              src="../images/buildings/repair@1x.png"
              alt="Інструменти"
            />
          </picture>
        </div>
      <h3 class="block__title buildings__text service-buildings__text">Прибирання після ремонту</h4></a>
      
    </li>
    </ul>

    
</section>
