<section class="section  section--dark-background no-padding-top">
  <div class="container">
    <h2 class="section__title title">Наші послуги</h2>
    <ul class="block-wrapper services-types__list">
    </ul>

    <h2 class="section__title title title--dry-clean">Вартість хімчистки</h2>
    <div class="swiper dry-clean__swiper">
      <ul class="dry-clean__list swiper-wrapper"></ul>
     </div>
    
   <h2 class="section__title title title--comparison">Трансформація Чистоти: До і Після Прибирання</h2>
   <div class="comparison__container">
     <ul class="comparison__categories-list"></ul>
     <ul class="comparison__slider-list"></ul>
     <ul class="more-less-btn-list">
      <li class="animated-btn-wrap btn-wrap--more isVisible">
        <button
          class="mobile__show-more-btn comparison__show-more-btn btn blob-btn"
          type="button"
          aria-label="Показати більше фото до/після"
        >
          Показати більше
          <span class="blob-btn__inner">
            <span class="blob-btn__blobs">
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
            </span>
          </span>
        </button>
        <svg class="animated-btn-icon">
          <defs>
            <filter id="goo-19" x="0%" y="0%" width="100%" height="100%">
              <feGaussianBlur
                in="SourceGraphic"
                result="blur"
                stdDeviation="10"
              ></feGaussianBlur>
              <feColorMatrix
                in="blur"
                type="matrix"
                values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7"
                result="goo"
              ></feColorMatrix>
              <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
            </filter>
          </defs>
        </svg>
      </li>
      <li class="animated-btn-wrap btn-wrap--less">
        <button
          class="mobile__show-more-btn comparison__show-more-btn btn blob-btn"
          type="button"
          aria-label="Показати менше фото до/після"
        >
          Показати менше
          <span class="blob-btn__inner">
            <span class="blob-btn__blobs">
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
            </span>
          </span>
        </button>
        <svg class="animated-btn-icon">
          <defs>
            <filter id="goo-20" x="0%" y="0%" width="100%" height="100%">
              <feGaussianBlur
                in="SourceGraphic"
                result="blur"
                stdDeviation="10"
              ></feGaussianBlur>
              <feColorMatrix
                in="blur"
                type="matrix"
                values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7"
                result="goo"
              ></feColorMatrix>
              <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
            </filter>
          </defs>
        </svg>
      </li>
     </ul>
     
   </div>
      <div class="cleaning__banner banner banner--services">
      <h3 class="title--white title--no-margin title--services">
        Не знайшли потрібну послугу?
      </h3>
      <p class="text text--services">
        Напишіть нам та ми допоможемо вам обрати потрібні послуги для клінінгу і проконсультуємо з будь-якого питання!
      </p>
     
      <div class="animated-btn-wrap">
        <a
          href="#office-calc-discount"
          class="hero__btn  btn action-btn blob-btn blob-btn--light blob-btn--white-border"
          data-support-modal-open
        >
          Зв’язатися з менеджером
          <span class="blob-btn__inner blob-btn__inner--light">
            <span class="blob-btn__blobs">
              <span class="blob-btn__blob blob-btn__blob--light"></span>
              <span class="blob-btn__blob blob-btn__blob--light"></span>
              <span class="blob-btn__blob blob-btn__blob--light"></span>
              <span class="blob-btn__blob blob-btn__blob--light"></span>
            </span>
          </span>
        </a>
        <svg class="animated-btn-icon">
              <defs>
                <filter id="goo-18" x="0%" y="0%" width="100%" height="100%">
                  <feGaussianBlur
                    in="SourceGraphic"
                    result="blur"
                    stdDeviation="10"
                  ></feGaussianBlur>
                  <feColorMatrix
                    in="blur"
                    type="matrix"
                    values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7"
                    result="goo"
                  ></feColorMatrix>
                  <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                </filter>
              </defs>
            </svg>
      </div>
      @@include('../common/stars-svg.html')
    </div>
  </div>
</section>
