<section
  class="relative-positioned section section--dark-background section--error"
>
  <div class="container hero__container relative-positioned">
    <div class="hero__info">
      <h1 class="hero__title title--error">404</h1>
      <p class="hero__text">
        Нажаль посилання не правильне, або цієї сторінки не існує. Будь ласка
        перейдіть на Головну сторінку нашого сайту.
      </p>

      <a href="./index.html" class="hero__btn action-btn btn back-to-home-btn">
        На головну
      </a>
    </div>
    <div class="image-error-thumb">
      <div class="image--error"></div>
    </div>
  </div>
</section>
