<section class="section section--dark-background section--questions-expanded">
  <div class="container container--questions-expanded">
    <h2 class="section__title title">Популярні запитання</h2>
    <div class="section__container questions__container">
      @@include('../common/popular-questions-block.html')
    </div>
    <div class="questions__wrap">
      <p class="text questions-expanded__text">
        Якщо не знайшли відповідь на своє запитання - задайте його нашому
        менерджеру. Ми зв’яжемося з вами сьогодні ж та проконсультуємо.
      </p>
    

      <div class="animated-btn-wrap">
        <button
          type="button"
          data-support-modal-open
          class="btn action-btn order-btn  blob-btn"
          aria-label="Задати своє питання"
        >
          Задати своє питання
          <span class="blob-btn__inner">
            <span class="blob-btn__blobs">
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
            </span>
          </span>
        
            <svg class="animated-btn-icon">
              <defs>
                <filter id="goo-14" x="0%" y="0%" width="100%" height="100%">
                  <feGaussianBlur
                    in="SourceGraphic"
                    result="blur"
                    stdDeviation="10"
                  ></feGaussianBlur>
                  <feColorMatrix
                    in="blur"
                    type="matrix"
                    values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7"
                    result="goo"
                  ></feColorMatrix>
                  <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                </filter>
              </defs>
            </svg>
        </button>
      </div>
    </div>
  </div>
</section>
