<section class="section section--buildings">
  <div class="container">
    <h2 class="section__title title">В яких приміщеннях ми прибираємо?</h2>
    <ul class="block-wrapper buildings__list">
      <li class="buildings__item">
        <div class="buildings__icon-wrap">
          <picture class="buildings__image">
            <source
              srcset="
                images/buildings/office@1x.webp 1x,
                images/buildings/office@2x.webp 2x
              "
              type="image/webp"
            >
            <source
              srcset="
                images/buildings/office@1x.jpg 1x,
                images/buildings/office@2x.jpg 2x
              "
              type="image/jpg"
            >
            <img
              width="161"
              height="100"
              class="buildings__image"
              src="images/buildings/office@1x.jpg"
              alt="Офіс"
            >
          </picture>
        </div>
      <h3 class="block__title buildings__text">В офісах</h3>
    </li>
    <li class="buildings__item">
      <div class="buildings__icon-wrap">
        <picture class="buildings__image">
          <source
            srcset="
              images/buildings/caffee@1x.webp 1x,
              images/buildings/caffee@2x.webp 2x
            "
            type="image/webp"
          >
          <source
            srcset="
              images/buildings/caffee@1x.jpg 1x,
              images/buildings/caffee@2x.jpg 2x
            "
            type="image/jpg"
          >
          <img
            width="161"
            height="100"
            class="buildings__image"
            src="images/buildings/caffee@1x.jpg"
            alt="Кафе"
          >
        </picture>
        </div>
      <h3 class="block__title buildings__text">В ресторанах</h3>
    </li>
    <li class="buildings__item">
      <div class="buildings__icon-wrap">
        <picture class="buildings__image">
          <source
            srcset="
              images/buildings/shop@1x.webp 1x,
              images/buildings/shop@2x.webp 2x
            "
            type="image/webp"
          >
          <source
            srcset="
              images/buildings/shop@1x.jpg 1x,
              images/buildings/shop@2x.jpg 2x
            "
            type="image/jpg"
          >
          <img
            width="161"
            height="100"
            class="buildings__image"
            src="images/buildings/shop@1x.jpg"
            alt="Магазин"
          >
        </picture>
        </div>
      <h3 class="block__title buildings__text">В магазинах</h3>
    </li>
    </ul>
      
  </div>
  
</section>
