<h4 class="form-title data-order__title">Додаткові послуги</h4>
        <ul class="data-order__add-services-list">
          <li class="add-services-list__item ">
            <label class="service-element"  data-id = "windowsStandard">
              <input
               class="checkbox"
              type="checkbox"
              >
              <span class="checkbox-custom checkbox-custom--service"></span>
              <span class="service-element__text">Миття вікон (стандартні)</span> 
              &nbsp; -&nbsp; 
              <span class="service-element__accent" data-value="35">35zł</span>
              &nbsp; 
            
            </label>
            <div class="data-order__wrap wrap--service isHidden">
              <div class="data-order__quantity-block">
            <button
              type="button"
              class="control-quantity-btn control-quantity-btn--minus" 
              data-type="minus" 
              aria-label="Зменшити кількість стандартних вікон на 1"
            >
              <svg
                class="icon--minus"
                width="35"
                height="35"
                
              >
                <use href="images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <span class="quantity-block__text quantity-block__value service-quantity" data-name="windowsStandard">1</span>
            <button 
            type="button" 
            class="control-quantity-btn control-quantity-btn--plus" 
            data-type="plus"
            aria-label="Збільшити  кількість стандартних вікон на 1"
            >
              <svg
                class="icon--plus"
                width="35"
                height="35"
              >
                <use href="images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
              </div>
              <span class="data-order__text">Кількість</span>
            </div>
          </li>
          <li class="add-services-list__item">
            <label class="service-element" data-id = "windowsLarge">
              <input
               class="checkbox"
              type="checkbox"
              >
              <span class="checkbox-custom checkbox-custom--service"></span>
              <span class="service-element__text">Миття вікон (до підлоги)</span>
               &nbsp; -&nbsp; 
               <span class="service-element__accent"  data-value="40">40zł</span>
              
            </label>
            <div class="data-order__wrap wrap--service isHidden">
              <div class="data-order__quantity-block">
            <button
              type="button"
              class="control-quantity-btn control-quantity-btn--minus" data-type="minus"
              aria-label="Зменшити кількість великих вікон на 1"
            >
              <svg
                class="icon--minus"
                width="35"
                height="35"
              >
                <use href="images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <span class="quantity-block__text quantity-block__value service-quantity" data-name = "windowsLarge">1</span>
            
            <button type="button" class="control-quantity-btn control-quantity-btn--plus" data-type="plus"
            aria-label="Збільшити  кількість великих вікон на 1"
            >
              <svg
                class="icon--plus"
                width="35"
                height="35"
              >
                <use href="images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
              </div>
              <span class="data-order__text">Кількість</span>
            </div>
          </li>
          <li class="add-services-list__item">
            <label class="service-element" data-id = "microWave">
              <input
               class="checkbox"
              type="checkbox"
              >
              <span class="checkbox-custom checkbox-custom--service"></span>
              <span class="service-element__text">Мікрохвильовка</span>  &nbsp; -&nbsp; <span class="service-element__accent" data-value="15">15zł</span>
            </label>
            <div class="data-order__wrap wrap--service isHidden">
              <div class="data-order__quantity-block">
                <button
                  type="button"
                  class="control-quantity-btn control-quantity-btn--minus" data-type="minus"                    
                  aria-label=" Зменшити кількість мікрохвильовок на 1"
                >
                  <svg
                    class="icon--minus"
                    width="35"
                    height="35"
                  >
                <use href="images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <span class="quantity-block__text quantity-block__value service-quantity" data-name = "microWave">1</span>
            
            <button type="button" class="control-quantity-btn control-quantity-btn--plus" data-type="plus" aria-label="Збільшити кількість мікрохвильовок на 1">
              <svg
                class="icon--plus"
                width="35"
                height="35"
                
              >
                <use href="images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
              </div>
              <span class="data-order__text">Кількість</span>
            </div>
          </li>
          <li class="add-services-list__item">
            <label class="service-element" data-id = "refrigerator">
              <input
               class="checkbox"
              type="checkbox"
              >
              <span class="checkbox-custom checkbox-custom--service"></span>
              <span class="service-element__text">Холодильник</span> &nbsp; -&nbsp; <span class="service-element__accent" data-value="40">40zł</span>
            </label>
            <div class="data-order__wrap wrap--service isHidden">
              <div class="data-order__quantity-block">
                <button
                  type="button"
                  class="control-quantity-btn control-quantity-btn--minus" 
                  data-type="minus"
                  aria-label=" Зменшити кількість холодильників на 1"
                >
                  <svg
                    class="icon--minus"
                    width="35"
                    height="35"
                    
                  >
                    <use href="images/sprite.svg#icon-minus"></use>
                  </svg>
                </button>
                <span class="quantity-block__text quantity-block__value service-quantity" data-name = "refrigerator">1</span>
                <button 
                type="button" 
                class="control-quantity-btn control-quantity-btn--plus"
                data-type="plus"
                aria-label="Збільшити кількість холодильників на 1">
                  <svg
                    class="icon--plus"
                    width="35"
                    height="35"
                    
                  >
                    <use href="images/sprite.svg#icon-plus"></use>
                  </svg>
                </button>
              </div>
              <span class="data-order__text">Кількість</span>
            </div>
          </li>
          <li class="add-services-list__item">
            <label class="service-element" data-id = "plate">
              <input
               class="checkbox"
              type="checkbox"
              >
              <span class="checkbox-custom checkbox-custom--service"></span>
              <span class="service-element__text">Плита</span> &nbsp; -&nbsp; <span class="service-element__accent" data-value="35">35zł</span>
            </label>
            <div class="data-order__wrap wrap--service isHidden">
              <div class="data-order__quantity-block">
            <button
              type="button"
              class="control-quantity-btn control-quantity-btn--minus" data-type="minus"
              aria-label=" Зменшити кількість плит на 1"

            >
              <svg
                class="icon--minus"
                width="35"
                height="35"
              >
                <use href="images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <span class="quantity-block__text quantity-block__value service-quantity" data-name = "plate">1</span>
            <button type="button" class="control-quantity-btn control-quantity-btn--plus" data-type="plus"
            aria-label="Збільшити кількість плит на 1"
            >
              <svg
                class="icon--plus"
                width="35"
                height="35"
              >
                <use href="images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
              </div>
              <span class="data-order__text">Кількість</span>
            </div>
          </li>
          <li class="add-services-list__item">
            <label class="service-element" data-id = "officeChair">
              <input
               class="checkbox"
              type="checkbox"
              >
              <span class="checkbox-custom checkbox-custom--service"></span>
              <span class="service-element__text">Хімчистка офісних стільців</span> &nbsp; -&nbsp; <span class="service-element__accent" data-value="20">20zł</span>
            </label>
            <div class="data-order__wrap wrap--service isHidden">
              <div class="data-order__quantity-block">
            <button
              type="button"
              class="control-quantity-btn control-quantity-btn--minus" data-type="minus" aria-label=" Зменшити кількість офісних стільців на 1"
            >
              <svg
                class="icon--minus"
                width="35"
                height="35"
                
              >
                <use href="images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <span class="quantity-block__text quantity-block__value service-quantity" data-name = "officeChair">1</span>
            
            <button type="button" class="control-quantity-btn control-quantity-btn--plus" data-type="plus" aria-label="Збільшити кількість офісних стільців на 1">
              <svg
                class="icon--plus"
                width="35"
                height="35"
                
              >
                <use href="images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
              </div>
              <span class="data-order__text">Кількість</span>
            </div>
          </li>
          <li class="add-services-list__item">
            <label class="service-element" data-id = "sofaDry2x">
              <input
               class="checkbox"
              type="checkbox"
              >
              <span class="checkbox-custom checkbox-custom--service"></span>
              <span class="service-element__text">Хімчистка дивану 2х</span> &nbsp; -&nbsp; <span class="service-element__accent" data-value="109,99">109,99zł</span>
            </label>
            <div class="data-order__wrap wrap--service isHidden">
              <div class="data-order__quantity-block">
            <button
              type="button"
              class="control-quantity-btn control-quantity-btn--minus" data-type="minus"
              aria-label=" Зменшити кількість диванів 2x на 1"
            >
              <svg
                class="icon--minus"
                width="35"
                height="35"
              >
                <use href="images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <span class="quantity-block__text quantity-block__value service-quantity" data-name = "sofaDry2x">1</span>
            
            <button type="button" class="control-quantity-btn control-quantity-btn--plus" data-type="plus"
            aria-label="Збільшити кількість диванів 2x на 1">
              <svg
                class="icon--plus"
                width="35"
                height="35"
              >
                <use href="images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
              </div>
              <span class="data-order__text">Кількість</span>
            </div>
          </li>
          <li class="add-services-list__item">
            <label class="service-element" data-id = "sofaDry3x">
              <input
               class="checkbox"
              type="checkbox"
              >
              <span class="checkbox-custom checkbox-custom--service"></span>
              <span class="service-element__text">Хімчистка дивану 3х</span> &nbsp; -&nbsp; <span class="service-element__accent" data-value="129,99">129,99zł</span>
            </label>
            <div class="data-order__wrap wrap--service isHidden">
              <div class="data-order__quantity-block">
            <button
              type="button"
              class="control-quantity-btn control-quantity-btn--minus" data-type="minus"
              aria-label=" Зменшити кількість диванів 3x на 1"
            >
              <svg
                class="icon--minus"
                width="35"
                height="35"
              >
                <use href="images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <span class="quantity-block__text quantity-block__value service-quantity" data-name = "sofaDry3x">1</span>
            
            <button type="button" class="control-quantity-btn control-quantity-btn--plus" data-type="plus"
            aria-label=" Зменшити кількість диванів 3x на 1">
              <svg
                class="icon--plus"
                width="35"
                height="35"
              >
                <use href="images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
              </div>
              <span class="data-order__text">Кількість</span>
            </div>
          </li>
          <li class="add-services-list__item">
            <label class="service-element" data-id = "sofaDry4x">
              <input
               class="checkbox"
              type="checkbox"
              >
              <span class="checkbox-custom checkbox-custom--service"></span>
              <span class="service-element__text">Хімчистка дивану 4х &nbsp; </span> &nbsp; -&nbsp; <span class="service-element__accent" data-value="149,99">149,99zł</span>
            </label>
            <div class="data-order__wrap wrap--service isHidden">
              <div class="data-order__quantity-block">
            <button
              type="button"
              class="control-quantity-btn control-quantity-btn--minus" data-type="minus"
              aria-label=" Зменшити кількість диванів 4x на 1"
            >
              <svg
                class="icon--minus"
                width="35"
                height="35"
              >
                <use href="images/sprite.svg#icon-minus"></use>
              </svg>
            </button>
            <span class="quantity-block__text quantity-block__value service-quantity" data-name = "sofaDry4x">1</span>
            
            <button type="button" class="control-quantity-btn control-quantity-btn--plus" data-type="plus"
            aria-label=" Зменшити кількість диванів 4x на 1">
              <svg
                class="icon--plus"
                width="35"
                height="35"
              >
                <use href="images/sprite.svg#icon-plus"></use>
              </svg>
            </button>
              </div>
              <span class="data-order__text">Кількість</span>
            </div>
          </li>
        </ul>