<section class="section section--dark-background section--benefits-expanded">
  <div class="container">
    <h2 class="section__title visually-hidden">Особливості</h2>
    <ul class="features">
      <li class="features__item features__item--benefits">
        <div class="features__image-wrap">
          @@include('benefits-pictures/subscription-picture.html')
        </div>
        <h3 class="features__title">Бюджетна підписка</h3>
        <p class="features__desc">
          Вартість місячної підписки всього <span>399zł.</span> Вона включає 2
          прибирання на місяць.
        </p>
      </li>

      <li class="features__item features__item--benefits">
        <div class="features__image-wrap">
          @@include('benefits-pictures/chemistry-picture.html')
        </div>
        <h3 class="features__title">Безпечна хімія</h3>
        <p class="features__desc">
          У прибиранні ми використовуємо лише якісну та не агресивну хімію
          <span>KIEHL</span> та <span>Pomoc Domowa</span>.
        </p>
      </li>

      <li class="features__item features__item--benefits">
        <div class="features__image-wrap">
          @@include('benefits-pictures/technic-picture.html')

        </div>
        <h3 class="features__title">Професійна техніка</h3>
        <p class="features__desc">
          Наші головні помічники у роботі - це техніка <span>KARCHER!</span>Вони
          забезпечують дійсно “кристальне” прибирання.
        </p>
      </li>

      <li class="features__item features__item--benefits">
        <div class="features__icon-wrap">
          <div class="features__image-wrap">
            @@include('benefits-pictures/quality-picture.html')

          </div>
        </div>

        <h3 class="features__title">Контроль якості</h3>
        <p class="features__desc">
          Ми завжди <span>запитуємо відгук</span> клієнта. Якщо ви не задоволені
          прибиранням —ми одразу приїдемо і все виправимо!
        </p>
      </li>
    </ul>
  </div>
</section>
