<div class="calendar isHidden">
  <div class="calendar__header">
    <button
      class="calendar__prevMonth-btn"
      type="button"
      aria-label="Перейти до попереднього місяця в календарі"
    >
      <svg width="40" height="40">
        <use href="images/sprite.svg#icon-prev-btn "></use>
      </svg>
    </button>
    <h3 class="calendar__monthYear">Жовтень 2023</h3>
    <button
      class="calendar__nextMonth-btn"
      type="button"
      aria-label="Перейти до наступного місяця в календарі"
    >
      <svg width="40" height="40">
        <use href="images/sprite.svg#icon-next-btn"></use>
      </svg>
    </button>
  </div>
  <table>
    <thead>
      <tr>
        <th class="calendar__day-name">Пн</th>
        <th class="calendar__day-name">Вт</th>
        <th class="calendar__day-name">Ср</th>
        <th class="calendar__day-name">Чт</th>
        <th class="calendar__day-name">Пт</th>
        <th class="calendar__day-name">Сб</th>
        <th class="calendar__day-name">Нд</th>
      </tr>
    </thead>
    <tbody class="calendar__body"></tbody>
  </table>
</div>
