<section class="section section--dark-background no-padding-top connection">
  <div class="container">
    <h2 class="section__title title title--connection">Зв’язок з нами</h2>
    <div class="connection__wrapper">
      <div class="connection--first-block">
        <h3 class="connection__block-title">Comfort Group</h3>
        <p class="connection__block-text">NIP — 7822835823</p>
        <p class="connection__block-text">REGON — 523849733</p>
        <a href="tel:+48534517801" class="connection__btn tel-btn"
          >+48 534 517 801</a
        >
        <ul class="socials connection__socials">
          <li class="socials__item socials__item--connection">
            <a
              class="socials__link"
              href="https://www.instagram.com/"
              aria-label="Посилання на Інстраграм компанії"
              target="_blank"
            >
              <svg
                class="socials__icon socials__inst-icon"
                width="40"
                height="40"
              >
                <use href="../images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item socials__item--connection">
            <a
              class="socials__link"
              href="https://www.facebook.com"
              aria-label="Посилання на Фейсбук компанії"
              target="_blank"
              ><svg
                class="socials__icon socials__facebook-icon"
                width="40"
                height="40"
              >
                <use href="../images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item socials__item--connection">
            <a
              class="socials__link"
              href="https://www.messenger.com/"
              aria-label="Посилання на Вотсап компанії"
              target="_blank"
              ><svg
                class="socials__icon socials__whatsApp-icon"
                width="40"
                height="40"
              >
                <use href="../images/sprite.svg#icon-whatsApp"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="connection--second-block info-block">
        <h3 class="info-block__title info-block__title--connection">
          Наша жива служба підтримки
        </h3>
        <p class="text text--marked">Працюємо 24/7</p>
        <ul class="socials connection__socials socials socials--support">
          <li class="socials__item socials__item--connection">
            <a
              class="socials__link"
              href="https://www.instagram.com/"
              aria-label="Посилання на Інстраграм компанії"
              target="_blank"
            >
              <svg
                class="socials__icon socials__inst-icon"
                width="40"
                height="40"
              >
                <use href="../images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item socials__item--connection">
            <a
              class="socials__link"
              href="https://www.facebook.com"
              aria-label="Посилання на Фейсбук компанії"
              target="_blank"
              ><svg
                class="socials__icon socials__facebook-icon"
                width="40"
                height="40"
              >
                <use href="../images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item socials__item--connection">
            <a
              class="socials__link"
              href="https://www.messenger.com/"
              aria-label="Посилання на Мессенджер компанії"
              target="_blank"
              ><svg
                class="socials__icon socials__messenger-icon"
                width="40"
                height="40"
              >
                <use href="../images/sprite.svg#icon-messenger"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="text">або за номером</p>
        <a href="tel:+48534517801" class="tel--support">+48 534 517 801</a>
      </div>
    </div>
  </div>
</section>
