<footer class="footer">
  <div class="footer__wrap">
    <div class="container footer__container">
      <div class="footer__about-section footer__section">
        <h2 class="footer__title">Про нас</h2>
        <ul class="about">
          <li class="about__item footer__item">
            <a href="./services.html" class="about__link footer__link"
              >Послуги</a
            >
          </li>
          <li class="about__item footer__item">
            <a href="./calc-order.html" class="about__link footer__link"
              >Вартість</a
            >
          </li>
          <li class="about__item footer__item">
            <a href="./faq.html" class="about__link footer__link">Питання</a>
          </li>
          <li class="about__item footer__item">
            <a href="./contacts.html" class="about__link footer__link"
              >Контакти</a
            >
          </li>
        </ul>
      </div>
      <div class="footer__services-section footer__section">
        <h2 class="footer__title">Послуги</h2>
        <ul class="services">
          <li class="services_item footer__item">
            <a href="./index.html" class="services_link footer__link"
              >Прибирання квартир та будинків</a
            >
          </li>
          <li class="services_item footer__item">
            <a href="./office.html" class="services_link footer__link"
              >Прибирання офісів та ресторанів</a
            >
          </li>
          <li class="services__item footer__item">
            <a href="./after-repair.html" class="services__link footer__link"
              >Прибирання після ремонту</a
            >
          </li>
        </ul>
      </div>
      <div class="footer__contacts-section footer__section">
        <h2 class="footer__title">Контакти</h2>
        <ul class="footer__contacts">
          <li class="contacts_item footer__item">на зв'язку 24/7</li>
          <li class="contacts_item">
            <a href="tel:+48534517801" class="contacts__link footer__link"
              >+48 534 517 801</a
            >
          </li>
          <li class="contacts__item footer__item">
            <a href="mailto:email@mail.com" class="contacts__link footer__link"
              >email@mail.com</a
            >
          </li>
          <li class="contacts__item footer__item">
            <p class="contacts__link footer__link" data-location-modal-open>
              Kilinskiego 178 90-322 Лодзь, Польща
            </p>
          </li>
        </ul>
      </div>
      <div class="footer__support-section footer__section">
        <h2 class="footer__title">Наша технічна підтримка</h2>
        <ul class="socials footer__socials">
          <li class="socials__item socials__item--white-bg">
            <a
              class="socials__link"
              href="https://www.instagram.com/"
              aria-label="Посилання на Інстраграм компанії"
              target="_blank"
            >
              <svg
                class="socials__icon socials__inst-icon socials__icon--footer"
                width="40"
                height="40"
              >
                <use href="../images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item socials__item--white-bg">
            <a
              class="socials__link"
              href="https://www.facebook.com"
              aria-label="Посилання на Фейсбук компанії"
              target="_blank"
              ><svg
                class="socials__icon socials__facebook-icon socials__icon--footer"
                width="40"
                height="40"
              >
                <use href="../images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item socials__item--white-bg">
            <a
              class="socials__link"
              href="https://www.messenger.com/"
              aria-label="Посилання на Вотсап компанії"
              target="_blank"
              ><svg
                class="socials__icon socials__whatsApp-icon socials__icon--footer"
                width="40"
                height="40"
              >
                <use href="../images/sprite.svg#icon-whatsApp"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container footer__copyright">
      <span class="copyright__text"> © 2023 Всі права захищено</span>
      <a href="#" class="copyright__text">Політика конфіденційності</a>
      <a href="#" class="copyright__text">Договір публічної оферти</a>
    </div>
  </div>
</footer>
