<header class="header">
  <div class="container header__container">
    @@include('theme-toggler.html') 
    <nav class="nav">
      <a href="./index.html" class="nav__logo">
        <svg class="nav__logo-img" width="54" height="68" aria-label="логотип">
          <use href="images/sprite.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="nav__list">
        <li class="nav__item">
          <a href="./" class="nav__link">Дім</a>
        </li>
        <li class="nav__item">
          <a href="./office.html" class="nav__link">Офіс</a>
        </li>
      </ul>

      <ul class="menu">
        <li class="menu__item">
          <a href="./after-repair.html" class="menu__link">Після ремонту</a>
        </li>
        <li class="menu__item">
          <a href="./calc-order.html" class="menu__link">Розрахунок вартості</a>
        </li>
      </ul>
    </nav>
    <div class="contacts">
      <ul class="socials contacts__socials">
        <li class="socials__item">
          <a
            class="socials__link"
            href="https://www.instagram.com/"
            aria-label="Посилання на Інстраграм компанії"
            target="_blank"
          >
            <svg
              class="socials__icon socials__inst-icon"
              width="40"
              height="40"
            >
              <use href="images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link"
            href="https://www.facebook.com"
            aria-label="Посилання на Фейсбук компанії"
            target="_blank"
            ><svg
              class="socials__icon socials__facebook-icon"
              width="40"
              height="40"
            >
              <use href="images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link"
            href="https://www.messenger.com/"
            aria-label="Посилання на Вотсап компанії"
            target="_blank"
            ><svg
              class="socials__icon socials__whatsApp-icon"
              width="40"
              height="40"
            >
              <use href="images/sprite.svg#icon-whatsApp"></use>
            </svg>
          </a>
        </li>
      </ul>
      <a href="tel:+48534517801" class="tel-btn">+48 534 517 801</a>
    </div>

    <button
      type="button"
      class="menu-toggle open-menu-btn"
      aria-expanded="false"
      aria-controls="mobile-menu"
      aria-label="відкрити бокове меню навігації"
    >
      <svg class="menu-toggle__icon icon" width="24" height="18">
        <use href="images/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
  <div class="aside-menu" id="mobile-menu">
    <button
      class="menu-toggle close-menu-btn"
      type="button"
      aria-expanded="false"
      aria-label="Закрити бокове меню навігації"
    >
      <svg class="menu__icon-close" width="42" height="42">
        <use href="images/sprite.svg#icon-plus"></use>
      </svg>
    </button>
    <nav class="nav nav--aside-menu">
      <a href="./index.html" class="nav__logo">
        <svg class="nav__logo-img" width="54" height="68" aria-label="логотип">
          <use href="images/sprite.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="nav__list nav__list--light">
        <li class="nav__item nav__item--light">
          <a href="./" class="nav__link nav__link--light">Дім</a>
        </li>
        <li class="nav__item nav__item--light">
          <a href="./office.html" class="nav__link nav__link--light">Офіс</a>
        </li>
      </ul>
    </nav>
    <ul class="aside-menu__about">
      <li class="about__item aside-menu__item">
        <a href="./services.html" class="about__link aside-menu__link"
          >Послуги</a
        >
      </li>
      <li class="about__item aside-menu__item">
        <a href="./calc-order.html" class="about__link aside-menu__link"
          >Розрахунок вартості</a
        >
      </li>
      <li class="about__item aside-menu__item">
        <a href="./faq.html" class="about__link aside-menu__link"
          >Актуальні запитання</a
        >
      </li>
      <li class="about__item aside-menu__item">
        <a href="./contacts.html" class="about__link aside-menu__link"
          >Контакти</a
        >
      </li>
    </ul>
    <div class="contacts contacts--aside-menu">
      <ul class="socials contacts__socials socials--aside-menu">
        <li
          class="socials__item socials__item--white-bg socials__item--aside-menu"
        >
          <a
            class="socials__link"
            href="https://www.instagram.com/"
            aria-label="Посилання на Інстраграм компанії"
            target="_blank"
          >
            <svg
              class="socials__icon socials__inst-icon"
              width="40"
              height="40"
            >
              <use href="images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li
          class="socials__item socials__item--white-bg socials__item--aside-menu"
        >
          <a
            class="socials__link"
            href="https://www.facebook.com"
            aria-label="Посилання на Фейсбук компанії"
            target="_blank"
            ><svg
              class="socials__icon socials__facebook-icon"
              width="40"
              height="40"
            >
              <use href="images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li
          class="socials__item socials__item--white-bg socials__item--aside-menu"
        >
          <a
            class="socials__link"
            href="https://www.messenger.com/"
            aria-label="Посилання на Вотсап компанії"
            target="_blank"
            ><svg
              class="socials__icon socials__whatsApp-icon"
              width="40"
              height="40"
            >
              <use href="images/sprite.svg#icon-whatsApp"></use>
            </svg>
          </a>
        </li>
      </ul>
      <a
        href="tel:+48534517801"
        class="tel-btn tel-btn--white-bg tel-btn--aside--menu"
        >+48 534 517 801</a
      >
    </div>
  </div>
</header>
