<section
  class="section section--dark-background no-padding-bottom section--home-maintenance"
>
  <div class="container">
    <div class="maintenance maintenance--home">
  <div class="info-block info-block--home-maintenance">
    <h3 class="info-block__title title--home-maintenance">
      Comfort Group допоможе вам організувати та підтримувати чистоту у вашому
      будинку
    </h3>
    <ul class="info-block__list info-block__list--maintenance maintenance--desktop">
      <li class="info-block__item text text--marked">
        Проведемо прибирання квартири перед приходом гостей.
      </li>
      <li class="info-block__item text text--marked">
        Приберемо наслідки гучної вечірки.
      </li>
      <li class="info-block__item text text--marked">
        Зробимо генеральне прибирання і позбавимо вас </br>необхідності витрачати на
        це свій вільний час.
      </li>
      <li class="info-block__item text text--marked">
        Будемо підтримувати чистоту у домі навіть коли ви на роботі!
      </li>
    </ul>
    <ul class="info-block__list info-block__list--maintenance maintenance--tablet">
      <li class="info-block__item text text--marked">
        Проведемо прибирання квартири перед </br>приходом гостей.
      </li>
      <li class="info-block__item text text--marked">
        Приберемо наслідки гучної вечірки.
      </li>
      <li class="info-block__item text text--marked">
        Зробимо генеральне прибирання і позбавимо </br>вас необхідності витрачати на
        це свій вільний</br> час.
      </li>
      <li class="info-block__item text text--marked">
        Будемо підтримувати чистоту у домі навіть коли</br> ви на роботі!
      </li>
    </ul>
    <ul class="info-block__list info-block__list--maintenance maintenance--mobile">
      <li class="info-block__item text text--marked">
        Проведемо прибирання квартири </br>перед приходом гостей.
      </li>
      <li class="info-block__item text text--marked">
        Приберемо наслідки гучної вечірки.
      </li>
      <li class="info-block__item text text--marked">
        Зробимо генеральне прибирання і</br> позбавимо вас необхідності витрачати </br>на
        це свій вільний час.
      </li>
      <li class="info-block__item text text--marked">
        Будемо підтримувати чистоту у домі</br> навіть коли ви на роботі!
      </li>
    </ul>
  </div>
</div>
  </div>
  </section>



