<ul class="block-wrapper">
  <li class="block">
    <p class="block__number">01</p>
    <h3 class="block__title">Бюджетна підписка</h3>
    <p class="block__text">
      Ми відправимо до вас клінера з повним арсеналом професійних інструментів
      (миючі пилососи і пароочисники <span>KARCHER</span> та безпечна і
      суперпотужна хімія <span>KIEHL</span> та <span>Pomoc Domowa</span>).
      Клінер прибере будинок і відмиє всі поверхні від жиру, бруду та пилу. Він
      наведе порядок всередині шаф, помиє вікна та винесе сміття. Раз на 6
      місяців проводимо хімчистку диванів, матраців та подушок.
    </p>
  </li>
  <li class="block">
    <p class="block__number">02</p>
    <h3 class="block__title">Підтримуюче прибирання</h3>
    <p class="block__text">
      Змінюємо постільну білизну, акуратно складаємо реші у шафі, видаляємо пил
      з поверхонь, пилососимо та миємо пілогу. Робимо все, аби тривати вашу
      домівку у чистоті!
    </p>
    <p class="block__remark">*Не включає миття вікон</p>
  </li>
</ul>
