<div class="month-subsr-block">
  <div class="info-block info-block--first">
    <h3 class="info-block__title">
      Місячна підписка на клінінг для будинку чи квартири
    </h3>
    <ul class="info-block__list">
      <li class="info-block__item text text--marked">
        1 генеральне прибирання
      </li>
      <li class="info-block__item text text--marked">1 базове прибирання</li>
    </ul>

    <p class="text text--accent">
      Хімчистка стільців, диванів, матраців, подушок та крісел раз у 6 місяців у
      <span>подарунок</span>!
    </p>
  </div>
  <div class="info-block info-block--second info-block--with-padding">
    <p class="info-block__accent">399zł</p>
    <p class="text text--secondary">
      1 генеральне прибирання + 1 підтримуюче прибирання
    </p>
    <div class="animated-btn-wrap">
      <button
        class="cleaning__btn btn blob-btn"
        type="button"
        data-subscription-modal-open
        aria-label="Замовити прибирання"
      >
        Замовити прибирання
        <span class="blob-btn__inner">
          <span class="blob-btn__blobs">
            <span class="blob-btn__blob"></span>
            <span class="blob-btn__blob"></span>
            <span class="blob-btn__blob"></span>
            <span class="blob-btn__blob"></span>
          </span>
        </span>
      </button>
      <svg class="animated-btn-icon">
        <defs>
          <filter id="goo-21" x="0%" y="0%" width="100%" height="100%">
            <feGaussianBlur
              in="SourceGraphic"
              result="blur"
              stdDeviation="10"
            ></feGaussianBlur>
            <feColorMatrix
              in="blur"
              type="matrix"
              values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7"
              result="goo"
            ></feColorMatrix>
            <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
          </filter>
        </defs>
      </svg>
    </div>
  </div>
</div>
