<ul class="questions__list">
  <li class="questions__item accordion no-padding-top">
    <div class="relative-positioned accordion__intro">
      <h3 class="question__title">Скільки коштує клінінг?</h4>
      <button type="button" class="toggle-question-btn plus-btn">
        <svg
          class="toggle-question-icon icon--plus"
          width="23"
          height="23"
          aria-label="перемикач показати/приховати відповідь на запитання"
        >
          <use href="../images/sprite.svg#icon-plus"></use>
        </svg>
        <svg
          class="toggle-question-icon icon--minus isHidden"
          width="23"
          height="23"
          aria-label="перемикач показати/приховати відповідь на запитання"
        >
          <use href="../images/sprite.svg#icon-minus"></use>
        </svg>
      </button>
    </div>
    <div class="accordion__content">
      <p class="questions__text">
        Для будинків та квартир у нас діє акційна місячна підписка вартістю
        <span>399zł</span>.
      </p>
      <p class="questions__text">
        В підписку входить 1 генеральне прибирання та 1 підтримуюче.
      </p>
      <p class="questions__text">
        Прибирання офісів на ресторанів — <span>2zł за м²</span>.
      </p>
      <p class="questions__text">
        Прибирання приміщень після ремонту — <span>5zł за м².</span>
      </p>
    </div>
  </li>
  <li class="questions__item accordion">
    <div class="relative-positioned accordion__intro">
      <h3 class="question__title">Якими засобами користуємося?</h4>
      <button type="button" class="toggle-question-btn plus-btn">
        <svg
          class="toggle-question-icon icon--plus"
          width="23"
          height="23"
          aria-label="перемикач покащати/приховати відповідь на запитання"
        >
          <use href="../images/sprite.svg#icon-plus"></use>
        </svg>
        <svg
          class="toggle-question-icon icon--minus isHidden"
          width="23"
          height="23"
          aria-label="перемикач покащати/приховати відповідь на запитання"
        >
          <use href="../images/sprite.svg#icon-minus"></use>
        </svg>
      </button>
    </div>
    <div class="accordion__content">
      <p class="questions__text">
        У своїй роботі ми використовуємо тільки якісне німецьке обладнання
        <span>KARCHER</span> та миючі засоби <span>KIEHL</span>. Вся наша хімія
        абсолютно безпечна і не викликає алергії.
      </p>
    </div>
  </li>
  <li class="questions__item accordion">
    <div class="relative-positioned accordion__intro">
      <h3 class="question__title">Скільки годин триває прибирання?</h4>
      <button type="button" class="toggle-question-btn plus-btn">
        <svg
          class="toggle-question-icon icon--plus"
          width="23"
          height="23"
          aria-label="перемикач покащати/приховати відповідь на запитання"
        >
          <use href="../images/sprite.svg#icon-plus"></use>
        </svg>
        <svg
          class="toggle-question-icon icon--minus isHidden"
          width="23"
          height="23"
          aria-label="перемикач покащати/приховати відповідь на запитання"
        >
          <use href="../images/sprite.svg#icon-minus"></use>
        </svg>
      </button>
    </div>
    <div class="accordion__content">
      <p class="questions__text">
        Тривалість прибирання залежить від розміру приміщення та ступеня
        забруднення. Наші прибиральники зазвичай закінчують прибирання протягом
        2-3 годин.
      </p>
    </div>
  </li>
  <li class="questions__item accordion">
    <div class="relative-positioned accordion__intro">
      <h3 class="question__title">Що таке підписка на прибирання?</h4>
      <button type="button" class="toggle-question-btn plus-btn">
        <svg
          class="toggle-question-icon icon--plus"
          width="23"
          height="23"
          aria-label="перемикач покащати/приховати відповідь на запитання"
        >
          <use href="../images/sprite.svg#icon-plus"></use>
        </svg>
        <svg
          class="toggle-question-icon icon--minus isHidden"
          width="23"
          height="23"
          aria-label="перемикач покащати/приховати відповідь на запитання"
        >
          <use href="../images/sprite.svg#icon-minus"></use>
        </svg>
      </button>
    </div>
    <div class="accordion__content">
      <p class="questions__text">
        Абонемент - унікальна акційна пропозиція на місячний пакет прибирання!
        Перевагою підписки є те, що ви отримуєте 1 генеральне прибирання та 1
        технічне прибирання на місяць за доступною ціною. Вам не потрібно
        витрачати час на повторне замовлення прибиральниці, після оформлення
        абонемента ми приїдемо в обумовлений час.
      </p>
    </div>
  </li>
  <li class="questions__item accordion">
    <div class="relative-positioned accordion__intro">
      <h3 class="question__title">Яка гарантія якісного прибрання?</h4>
      <button type="button" class="toggle-question-btn plus-btn">
        <svg
          class="toggle-question-icon icon--plus"
          width="23"
          height="23"
          aria-label="перемикач покащати/приховати відповідь на запитання"
        >
          <use href="../images/sprite.svg#icon-plus"></use>
        </svg>
        <svg
          class="toggle-question-icon icon--minus isHidden"
          width="23"
          height="23"
          aria-label="перемикач покащати/приховати відповідь на запитання"
        >
          <use href="../images/sprite.svg#icon-minus"></use>
        </svg>
      </button>
    </div>
    <div class="accordion__content">
      <p class="questions__text">
        Ми ретельно стежимо за якістю прибирання та збираємо відгуки від кожного
        клієнта. Якщо вам не сподобається якість прибирання, найближчими днями
        приберемо знову.
      </p>
    </div>
  </li>
  <li class="questions__item accordion">
    <div class="relative-positioned accordion__intro">
      <h3 class="question__title">Як замовити та оплатити прибирання?</h4>

      <button type="button" class="toggle-question-btn plus-btn">
        <svg
          class="toggle-question-icon icon--plus"
          width="23"
          height="23"
          aria-label="перемикач покащати/приховати відповідь на запитання"
        >
          <use href="../images/sprite.svg#icon-plus"></use>
        </svg>
        <svg
          class="toggle-question-icon icon--minus isHidden"
          width="23"
          height="23"
          aria-label="перемикач покащати/приховати відповідь на запитання"
        >
          <use href="../images/sprite.svg#icon-minus"></use>
        </svg>
      </button>
    </div>
    <div class="accordion__content">
      <p class="questions__text">
        Ви можете замовити та оплатити прибирання прямо на нашому сайті! Введіть
        у форму свої дані, дату та адресу та виберіть зручний спосіб оплати
        (онлайн або готівкою при зустрічі). Крім того, на нашому сайті ви можете
        розрахувати вартість прибирання приміщень за допомогою
        <a href="./calc-order.html"><span>калькулятора!</span></a>
      </p>
    </div>
  </li>
</ul>
