<section class="section reviews">
  <div class="container reviews__container">
    <h2 class="section__title title">Відгуки про компанію Comfort Group</h2>
    <div class="inner-swiper">
      
      <div class="gallery">
          <ul class="swiper-wrapper reviews__swiper">
          </ul>
      </div>
          <button type="button" class="gallery__btn gallery__prev-btn" aria-label="перейти до попередніх відгуків"><i class="fa-solid fa-angles-left"></i></button >
          <button type="button" class="gallery__btn gallery__next-btn" aria-label="перейти до наступних відгуків"><i class="fa-solid fa-angles-right"></i></button>
 
      
           <div class="gallery__swiper-pagination"></div>
    </div>


    <div class="mobile__reviews">
      <div class="mobile__gallery">
        <ul class="mobile__reviews-list">
        </ul>
        <div class="animated-btn-wrap">
          <button
            class="mobile__show-more-btn reviews__btn btn blob-btn"
            type="button"
            aria-label="Показати більше відгуків"
          >
            Показати більше
            <span class="blob-btn__inner">
              <span class="blob-btn__blobs">
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
              </span>
            </span>
          </button>
          <svg class="animated-btn-icon">
            <defs>
              <filter id="goo-7" x="0%" y="0%" width="100%" height="100%">
                <feGaussianBlur
                  in="SourceGraphic"
                  result="blur"
                  stdDeviation="10"
                ></feGaussianBlur>
                <feColorMatrix
                  in="blur"
                  type="matrix"
                  values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7"
                  result="goo"
                ></feColorMatrix>
                <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
              </filter>
            </defs>
          </svg>
        </div>
    </div>
  </div>
    
    <ul class="reviews__button-list">
      <li class="button-list__item">
      
      <div class="animated-btn-wrap">
        <a
          target="_blank" href="https://www.google.com/search?q=comfort+group+lodz"
          class="btn action-btn reviews__btn btn--centered blob-btn"
        >
          Залишити відгук у Google
          <span class="blob-btn__inner">
            <span class="blob-btn__blobs">
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
            </span>
          </span>
          
        </a>
        <svg class="animated-btn-icon">
          <defs>
            <filter id="goo-11" x="0%" y="0%" width="100%" height="100%">
              <feGaussianBlur
                in="SourceGraphic"
                result="blur"
                stdDeviation="10"
              ></feGaussianBlur>
              <feColorMatrix
                in="blur"
                type="matrix"
                values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7"
                result="goo"
              ></feColorMatrix>
              <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
            </filter>
          </defs>
        </svg>
        
      </div>
      </li>
      <li class="button-list__item">
     
        <div class="animated-btn-wrap">
            <a
              href="https://www.facebook.com"
              target="_blank"
              class="btn action-btn reviews__btn btn--centered blob-btn blob-btn--light"
            >
              Залишити відгук у Facebook
              <span class="blob-btn__inner blob-btn__inner--light">
                <span class="blob-btn__blobs">
                  <span class="blob-btn__blob blob-btn__blob--light"></span>
                  <span class="blob-btn__blob blob-btn__blob--light"></span>
                  <span class="blob-btn__blob blob-btn__blob--light"></span>
                  <span class="blob-btn__blob blob-btn__blob--light"></span>
                </span>
              </span>
            </a>
            <svg class="animated-btn-icon">
              <defs>
                <filter id="goo-10" x="0%" y="0%" width="100%" height="100%">
                  <feGaussianBlur
                    in="SourceGraphic"
                    result="blur"
                    stdDeviation="10"
                  ></feGaussianBlur>
                  <feColorMatrix
                    in="blur"
                    type="matrix"
                    values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7"
                    result="goo"
                  ></feColorMatrix>
                  <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                </filter>
              </defs>
            </svg>
          </div>
      </li>
    </ul>
  </div>
</section>
