<section class="section reviews">
  <div class="container reviews__container">
    <h2 class="section__title title">Відгуки про компанію Comfort Group</h2>
    <ul class="reviews__list">
      <li class="reviews__item item-1">
        <h3 class="review__title">Міколай Ковальчук</h4>
          @@include('stars-rating-list.html')
        <p class="review__text">
          Дуже хороший сервіс! Клінер Анна приємна та працьовита дівчина.
          Приїхала без запізнень, швидко і якісно прибрала в моїй квартирі.
        </p>
      </li>
      <li class="reviews__item item-2">
        <h3 class="review__title">Марія Кравчук</h4>
          @@include('stars-rating-list.html')
        <p class="review__text">
          Замовляла прибирання в квартиру після косметичного ремонту. Дівчата з
          Comfort Group мене просто врятували! Прибрали дуже швидко та ретельно.
          Без їх допомоги я б ще не один день витрачала свій час на це
          прибирання!
        </p>
      </li>
      <li class="reviews__item item-3">
        <h3 class="review__title">Алекс Кашпор</h4>
          @@include('stars-rating-list.html')
        <p class="review__text">
          Оформлюю у Comfort Group вже другу місячну підписку. З моїм графком
          роботи це ідеальний варіант. Вдома завжди чисто та свіжо! Дякую за
          вашу роботу!
        </p>
      </li>
      <li class="reviews__item item-4">
        <h3 class="review__title">Бронислав Левандовський</h4>
          @@include('stars-rating-list.html')
        <p class="review__text">
          Чудові клінери та сервіс. Не шкодую що обрав саме вас: прибрали
          ретельно та швидко.
        </p>
      </li>
      <li class="reviews__item item-5">
        <h3 class="review__title">Ян Кравчик</h4>
          @@include('stars-rating-list.html')
        <p class="review__text">
          Дякую за гарну роботу! <br />Ви чудово прибрали наш офіс після
          новорічного корпоративу.
        </p>
      </li>
      <li class="reviews__item item-6">
        <h3 class="review__title">Юлія Возняк</h4>
          @@include('stars-rating-list.html')
        <p class="review__text">
          Замовляла місячну підписку на прибирання для своєї бабусі. Тетяна з
          Comfort Group була дуже милою та ретельно все прибрала.
        </p>
      </li>
    </ul>
    <ul class="reviews__button-list">
      <li class="button-list__item">
      
      <div class="animated-btn-wrap">
        <a
          target="_blank" href="https://www.google.com/search?q=comfort+group+lodz"
          class="btn action-btn reviews__btn btn--centered blob-btn"
        >
          Залишити відгук у Google
          <span class="blob-btn__inner">
            <span class="blob-btn__blobs">
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
            </span>
          </span>
          
        </a>
        <svg class="animated-btn-icon">
          <defs>
            <filter id="goo-11" x="0%" y="0%" width="100%" height="100%">
              <feGaussianBlur
                in="SourceGraphic"
                result="blur"
                stdDeviation="10"
              ></feGaussianBlur>
              <feColorMatrix
                in="blur"
                type="matrix"
                values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7"
                result="goo"
              ></feColorMatrix>
              <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
            </filter>
          </defs>
        </svg>
        
      </div>
      </li>
      <li class="button-list__item">
     
        <div class="animated-btn-wrap">
            <a
              href="https://www.facebook.com"
              target="_blank"
              class="btn action-btn reviews__btn btn--centered blob-btn blob-btn--light"
            >
              Залишити відгук у Facebook
              <span class="blob-btn__inner blob-btn__inner--light">
                <span class="blob-btn__blobs">
                  <span class="blob-btn__blob blob-btn__blob--light"></span>
                  <span class="blob-btn__blob blob-btn__blob--light"></span>
                  <span class="blob-btn__blob blob-btn__blob--light"></span>
                  <span class="blob-btn__blob blob-btn__blob--light"></span>
                </span>
              </span>
            </a>
            <svg class="animated-btn-icon">
              <defs>
                <filter id="goo-10" x="0%" y="0%" width="100%" height="100%">
                  <feGaussianBlur
                    in="SourceGraphic"
                    result="blur"
                    stdDeviation="10"
                  ></feGaussianBlur>
                  <feColorMatrix
                    in="blur"
                    type="matrix"
                    values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7"
                    result="goo"
                  ></feColorMatrix>
                  <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                </filter>
              </defs>
            </svg>
          </div>
      </li>
    </ul>
  </div>
</section>
