<ul class="review__rating">
  <li class="rating__item">
    <picture class="rating__icon" >
      <source
      width="20" height="20"
        srcset="
          images/reviews/tablet/star@1x.png 1x,
          images/reviews/tablet/star@2x.png 2x
        "
        media="(max-width: 1439px)"
      >
      <source
      width="26" height="26"
        srcset="
          images/reviews/desktop/star@1x.png 1x,
          images/reviews/desktop/star@2x.png 2x
        "
        media="(min-width: 1440px)"
      >
      <img
        class="rating__icon" width="26" height="26"
        src="images/reviews/desktop/star@1x.png"
        alt="Жовта зірка"
      >
    </picture>
  </li>
  <li class="rating__item">
    <picture class="rating__icon" >
      <source
      width="20" height="20"
        srcset="
          images/reviews/tablet/star@1x.png 1x,
          images/reviews/tablet/star@2x.png 2x
        "
        media="(max-width: 1439px)"
      >
      <source
      width="26" height="26"
        srcset="
          images/reviews/desktop/star@1x.png 1x,
          images/reviews/desktop/star@2x.png 2x
        "
        media="(min-width: 1440px)"
      >
      <img
        class="rating__icon" width="26" height="26"
        src="images/reviews/desktop/star@1x.png"
        alt="Жовта зірка"
      >
    </picture>
  </li>
  <li class="rating__item">
    <picture class="rating__icon" >
      <source
      width="20" height="20"
        srcset="
          images/reviews/tablet/star@1x.png 1x,
          images/reviews/tablet/star@2x.png 2x
        "
        media="(max-width: 1439px)"
      >
      <source
      width="26" height="26"
        srcset="
          images/reviews/desktop/star@1x.png 1x,
          images/reviews/desktop/star@2x.png 2x
        "
        media="(min-width: 1440px)"
      >
      <img
        class="rating__icon" width="26" height="26"
        src="images/reviews/desktop/star@1x.png"
        alt="Жовта зірка"
      >
    </picture>
  </li>
  <li class="rating__item">
    <picture class="rating__icon" >
      <source
      width="20" height="20"
        srcset="
          images/reviews/tablet/star@1x.png 1x,
          images/reviews/tablet/star@2x.png 2x
        "
        media="(max-width: 1439px)"
      >
      <source
      width="26" height="26"
        srcset="
          images/reviews/desktop/star@1x.png 1x,
          images/reviews/desktop/star@2x.png 2x
        "
        media="(min-width: 1440px)"
      >
      <img
        class="rating__icon" width="26" height="26"
        src="images/reviews/desktop/star@1x.png"
        alt="Жовта зірка"
      >
    </picture>
  </li>
  <li class="rating__item">
    <picture class="rating__icon" >
      <source
      width="20" height="20"
        srcset="
          images/reviews/tablet/star@1x.png 1x,
          images/reviews/tablet/star@2x.png 2x
        "
        media="(max-width: 1439px)"
      >
      <source
      width="26" height="26"
        srcset="
          images/reviews/desktop/star@1x.png 1x,
          images/reviews/desktop/star@2x.png 2x
        "
        media="(min-width: 1440px)"
      >
      <img
        class="rating__icon" width="26" height="26"
        src="images/reviews/desktop/star@1x.png"
        alt="Жовта зірка"
      >
    </picture>
  </li>
 
</ul>