<div class="backdrop backdrop--support backdrop--hidden" data-support-modal>
  <div class="modal modal--support">
    <h3 class="modal__title">
      Зв’яжіться з технічною підтримкою та задайте своє запитання
    </h3>
    <p class="text modal__text">Ми на зв’язку 24/7</p>
    <ul class="socials socials--modal">
      <li class="socials__item socials__item--modal">
        <a
          class="socials__link socials__link--connection"
          href="https://web.telegram.org/k/"
          aria-label="Посилання на Телеграм компанії"
          target="_blank"
        >
          <svg class="socials__icon socials__inst-icon" width="40" height="40">
            <use href="../images/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
        <a href="#" class="socials__text">Telegram</a>
      </li>
      <li class="socials__item socials__item--modal">
        <a
          class="socials__link socials__link--connection"
          href="https://www.facebook.com"
          aria-label="Посилання на Фейсбук компанії"
          target="_blank"
          ><svg
            class="socials__icon socials__facebook-icon"
            width="40"
            height="40"
          >
            <use href="../images/sprite.svg#icon-messenger"></use>
          </svg>
        </a>
        <a href="#" class="socials__text">Facebook Messenger</a>
      </li>
      <li class="socials__item socials__item--modal">
        <a
          class="socials__link socials__link--connection"
          href="https://www.messenger.com/"
          aria-label="Посилання на Вотсап компанії"
          target="_blank"
          ><svg
            class="socials__icon socials__whatsApp-icon"
            width="40"
            height="40"
          >
            <use href="../images/sprite.svg#icon-whatsApp"></use>
          </svg>
        </a>
        <a href="#" class="socials__text">WhatsApp</a>
      </li>
    </ul>
    <p class="text">або за номером</p>
    <p class="socials__item socials__item--modal">
      <a
        class="socials__link socials__link--connection"
        href="tel:+48534517801"
        aria-label="Посилання на Телефон компанії"
      >
        <svg class="socials__icon socials__tel-icon" width="40" height="40">
          <use href="../images/sprite.svg#icon-tel"></use>
        </svg>
      </a>
      <a href="tel:+48534517801" class="tel--support modal__tel"
        >+48 534 517 801</a
      >
    </p>

    <button class="close-modal-btn" type="button" data-support-modal-close aria-label="закрити модальне вікно із контактами компанії ">
      <svg class="close-modal-icon">
        <use href="../images/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
