<section class="section section--team">
  <div class="container">
    <div class="team__wrapper">
      <h2 class="section__title title title--connection">Наша команда</h2>
      <ul class="team__category-list"></ul>
      <ul class="team__members-name-list"></ul>
      <div class="team__slider-container">
        <ul class="team__circular-slider">
         </ul>
        <button type="button" class="team__btn team__btn-prev" aria-label="Показати попереднє фото члена команди"><i class="fa-solid fa-angles-left"></i></button>
        <button type="button" class="team__btn team__btn-next" aria-label="Показати наступне фото члена команди"><i class="fa-solid fa-angles-right"></i></button>
 
      </div>
       <div class="team__member-info">
        <p class="member-info__title"></p>
        <p class="member-info__exp"></p>
        <p class="member-info__quote"></p>
       </div>
      </div>
 </div>
</section>
