<div class="theme-toggler-wrap theme-toggler-wrap--light">
  <div class="theme__circle theme__circle--light">
    <div class="circle-item circle__sun"></div>
    <div class="circle-item circle__moon circle__moon--hidden"></div>
    <div class="circle__ray"></div>
    <div class="circle__ray"></div>
    <div class="circle__ray"></div>
    <div class="circle__ray"></div>
    <div class="circle__ray"></div>
    <div class="circle__ray"></div>
    <div class="circle__ray"></div>
    <div class="circle__ray"></div>
  </div>
</div>
