<div class="time-picker-wrap isHidden">
  <div class="time-picker__block">
    <div class="time-picker__hours">15</div>
    <div class="time-picker__separator">:</div>
    <div class="time-picker__minutes">00</div>
  </div>
  <div class="time-picker__tablo tablo--hours">
    <div class="number hours am" data-id="12">12</div>
    <div class="number hours am disabled" data-id="01">1</div>
    <div class="number hours am disabled" data-id="02">2</div>
    <div class="number hours am disabled" data-id="03">3</div>
    <div class="number hours am disabled" data-id="04">4</div>
    <div class="number hours am disabled" data-id="05">5</div>
    <div class="number hours am disabled" data-id="06">6</div>
    <div class="number hours am" data-id="07">7</div>
    <div class="number hours am" data-id="08">8</div>
    <div class="number hours am" data-id="09">9</div>
    <div class="number hours am" data-id="10">10</div>
    <div class="number hours am" data-id="11">11</div>
    <div class="number hours pm disabled" data-id="24">24</div>
    <div class="number hours pm" data-id="13">13</div>
    <div class="number hours pm" data-id="14">14</div>
    <div class="number hours pm active" data-id="15">15</div>
    <div class="number hours pm" data-id="16">16</div>
    <div class="number hours pm" data-id="17">17</div>
    <div class="number hours pm" data-id="18">18</div>
    <div class="number hours pm" data-id="19">19</div>
    <div class="number hours pm" data-id="20">20</div>
    <div class="number hours pm" data-id="21">21</div>
    <div class="number hours pm disabled" data-id="22">22</div>
    <div class="number hours pm disabled" data-id="23">23</div>
  </div>
  <div class="time-picker__tablo tablo--minutes isHidden">
    <div class="number minutes am active" data-id="00">00</div>
    <div class="number minutes am" data-id="05">05</div>
    <div class="number minutes am" data-id="10">10</div>
    <div class="number minutes am" data-id="15">15</div>
    <div class="number minutes am" data-id="20">20</div>
    <div class="number minutes am" data-id="25">25</div>
    <div class="number minutes am" data-id="30">30</div>
    <div class="number minutes am" data-id="35">35</div>
    <div class="number minutes am" data-id="40">40</div>
    <div class="number minutes am" data-id="45">45</div>
    <div class="number minutes am" data-id="50">50</div>
    <div class="number minutes am" data-id="55">55</div>
  </div>
  <button class="time-picker__btn" type="button" aria-label="Підтвердити обраний час замовлення">ОК</button>
</div>
