<section class="section section--trust section--dark-background ">
  <div class="container ">
    <div class="section__container trust__container">
      <h2 class="section__title title">Чому нам можна довіряти</h2>
    <ul class="block-wrapper block-wrapper--trust">
      <li class="block block--trust">
      <p class="block__number">01</p>
      <h3 class="block__title">Індивідуальний підхід</h4>
      <p class="block__text block__text--trust">Ми знаємо що немає однаково забруднених приміщень. Тому до кожного клінінгу підходимо індивідуально. Ми приводимо приміщення до “кришталевої” чистоти не залежно від рівня забруднення.</p>
    </li>
    <li class="block block--trust block--zIndex">
      <p class="block__number">02</p>
      <h3 class="block__title">Стежимо за якістю прибирання</h4>
      <p class="block__text block__text--trust">Після кожного прибирання ми збираємо у клієнтів чесні відгуки про роботу клінерів. </p>
      <p class="block__text block__text--trust">У разі якщо клієнт не задоволенний якістю прибирання ми проводимо повторне прибирання або повністю повертаємо кошти.</p>
    </li>
    <li class="block block--trust">
      <p class="block__number">03</p>
      <h3 class="block__title">Професійна техніка та безпечна хімія</h4>
      <p class="block__text block__text--trust">Техніка бренду <span>“KARCHER”</span> забезпечує ретельне та якісне прибирання. А миючі засоби німецького бренду <span>“KIEHL”</span> мають високу очисну здатність і впораються навіть з складними забрудненнями. Вся наша хімія не має різких запахів та гіпоалергенна.</p>
    </li>
    <li class="block block--trust">
      <p class="block__number">04</p>
      <h3 class="block__title">Чесні ціни доступні кожному</h4>
      <p class="block__text block__text--trust">Вартість наших послуг формується по прозорій схемі. Клієнти Comfort Group можуть заощадити замовивши акційну місячну підписку або скориставшись нашими акціями.</p>
    </li>
    </ul>
   
    <div class="animated-btn-wrap">
            <a
              href="#"
              class="dynamic-link btn action-btn order-btn btn--centered blob-btn"
            >
              Замовити прибирання
              <span class="blob-btn__inner">
                <span class="blob-btn__blobs">
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                </span>
              </span>
            </a>
            <svg class="animated-btn-icon">
              <defs>
                <filter id="goo-13" x="0%" y="0%" width="100%" height="100%">
                  <feGaussianBlur
                    in="SourceGraphic"
                    result="blur"
                    stdDeviation="10"
                  ></feGaussianBlur>
                  <feColorMatrix
                    in="blur"
                    type="matrix"
                    values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7"
                    result="goo"
                  ></feColorMatrix>
                  <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                </filter>
              </defs>
            </svg>
          </div>
  </div>
    
    
</section>