<div class="work-shedule isHidden">
  <h3 class="work-shedule__title">Графік роботи</h3>
  <ul class="work-shedule__list">
    <li class="work-shedule__item">
      <ul class="days-list">
        <li class="days-list__item">Пн</li>
        <li class="days-list__item">Вт</li>
        <li class="days-list__item">Ср</li>
        <li class="days-list__item">Чт</li>
        <li class="days-list__item">Пт</li>
      </ul>
      <p class="work-shedule__text">
        <span class="work-shedule__text-wrap"
          ><span>7</span>
          <span class="work-shedule__text--above">00</span></span
        >

        <span class="work-shedule__text--space">-</span>
        <span class="work-shedule__text-wrap"
          ><span>21</span>
          <span class="work-shedule__text--above">00</span></span
        >
      </p>
    </li>
    <li class="work-shedule__item">
      <ul class="days-list">
        <li class="days-list__item days-list__item--accent">Сб</li>
        <li class="days-list__item days-list__item--accent">Нд</li>
      </ul>
      <p class="work-shedule__text">
        <span class="work-shedule__text-wrap"
          ><span>10</span>
          <span class="work-shedule__text--above">00</span></span
        >

        <span class="work-shedule__text--space">-</span>
        <span class="work-shedule__text-wrap"
          ><span>19</span>
          <span class="work-shedule__text--above">00</span></span
        >
      </p>
    </li>
  </ul>
</div>
