

<section class="no-padding-top no-padding-bottom section--calc-banner">
  <div class="swiper swiper--calc-banner">
   
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="slide__container">
            <h2 class="calc-banner__title">Прибирання у будинках та квартирах</h2>
            <div class="container calc-banner__images-wrapper">
              <picture data-value='-4' class='calc-banner__image image-1'>
                <source 
                  srcset="images/banner/after-repair-banner/tool-6@2x.webp 2x, images/banner/after-repair-banner/tool-6@1x.webp 1x" 
                  type="image/webp"
                  media="(max-width: 767px)"
                  width="130"
                  height="130"
                >
                <source 
                  srcset="images/banner/after-repair-banner/tool-6@2x.png 2x, images/banner/after-repair-banner/tool-6@1x.png 1x" 
                  type="image/png"
                  media="(max-width: 767px)"
                  width="130"
                  height="130"
                >
                <source 
                  srcset="images/banner/after-repair-banner/tool-6@2x.webp 2x, images/banner/after-repair-banner/tool-6@1x.webp 1x" 
                  type="image/webp"
                  media="(min-width: 768px)"
                  width="150"
                  height="150"
                >
                <source 
                  srcset="images/banner/after-repair-banner/tool-6@2x.png 2x, images/banner/after-repair-banner/tool-6@1x.png 1x" 
                  type="image/png"
                  media="(min-width: 768px)"
                  width="150"
                  height="150"
                >
                <img src="images/banner/after-repair-banner/tool-6@1x.png" alt="Зображення інструмента для клінінгу" width="150" height="150">
              </picture>
              <picture data-value='3' class='calc-banner__image image-2'>
                <source 
                  srcset="images/benefits/tablet/technic@2x.webp 2x, images/benefits/tablet/technic@1x.webp 1x" 
                  type="image/webp"
                  media="(max-width: 767px)"
                  width="110"
                  height="110"
                >
                <source 
                  srcset="images/benefits/tablet/technic@2x.png 2x, images/benefits/tablet/technic@1x.png 1x" 
                  type="image/png"
                  media="(max-width: 767px)"
                  width="110"
                  height="110"
                >
                <source 
                  srcset="images/benefits/tablet/technic@2x.webp 2x, images/benefits/tablet/technic@1x.webp 1x" 
                  type="image/webp"
                  media="(max-width: 1439px)"
                  width="140"
                  height="140"
                >
                <source 
                  srcset="images/benefits/tablet/technic@2x.png 2x, images/benefits/tablet/technic@1x.png 1x" 
                  type="image/png"
                  media="(max-width: 1439px)"
                  width="140"
                  height="140"
                >
                <source 
                  srcset="images/benefits/desktop/technic@2x.webp 2x, images/benefits/desktop/technic@1x.webp 1x" 
                  type="image/webp"
                  media="(min-width: 1440px)"
                  width="160"
                  height="160"
                >
                <source 
                  srcset="images/benefits/desktop/technic@2x.png 2x, images/benefits/desktop/technic@1x.png 1x" 
                  type="image/png"
                  media="(min-width: 1440px)"
                  width="160"
                  height="160"
                >
                <img src="images/benefits/desktop/technic@1x.png" alt="Зображення інструмента для клінінгу" width="150" height="150">
              </picture>
              <picture data-value='-6' class='calc-banner__image image-3'>
                <source 
                  srcset="images/trust/brush@2x.webp 2x, images/trust/brush@1x.webp 1x" 
                  type="image/webp"
                  media="(max-width: 767px)"
                  width="120"
                  height="120"
                >
                <source 
                  srcset="images/trust/brush@2x.png 2x, images/trust/brush@1x.png 1x" 
                  type="image/png"
                  media="(max-width: 767px)"
                  width="120"
                  height="120"
                >
                <source 
                  srcset="images/trust/brush@2x.webp 2x, images/trust/brush@1x.webp 1x" 
                  type="image/webp"
                  media="(max-width: 1439px)"
                  width="150"
                  height="150"
                >
                <source 
                  srcset="images/trust/brush@2x.png 2x, images/trust/brush@1x.png 1x" 
                  type="image/png"
                  media="(max-width: 1439px)"
                  width="150"
                  height="150"
                >
                <source 
                  srcset="images/trust/brush@2x.webp 2x, images/trust/brush@1x.webp 1x" 
                  type="image/webp"
                  media="(min-width: 1440px)"
                  width="200"
                  height="200"
                >
                <source 
                  srcset="images/trust/brush@2x.png 2x, images/trust/brush@1x.png 1x" 
                  type="image/png"
                  media="(min-width: 1440px)"
                  width="200"
                  height="200"
                >
                <img src="images/trust/brush@1x.png" alt="Зображення інструмента для клінінгу" width="150" height="150">
              </picture>
              <picture data-value='4' class='calc-banner__image image-4'>
                <source 
                  srcset="images/trust/washcloth@2x.webp 2x, images/trust/washcloth@1x.webp 1x" 
                  type="image/webp"
                  media="(max-width: 767px)"
                  width="80"
                  height="80"
                >
                <source 
                  srcset="images/trust/washcloth@2x.png 2x, images/trust/washcloth@1x.png 1x" 
                  type="image/png"
                  media="(max-width: 767px)"
                  width="80"
                  height="80"
                >
                <source 
                  srcset="images/trust/washcloth@2x.webp 2x, images/trust/washcloth@1x.webp 1x" 
                  type="image/webp"
                  media="(max-width: 1439px)"
                  width="100"
                  height="100"
                >
                <source 
                  srcset="images/trust/washcloth@2x.png 2x, images/trust/washcloth@1x.png 1x" 
                  type="image/png"
                  media="(max-width: 1439px)"
                  width="100"
                  height="100"
                >
                <source 
                  srcset="images/trust/washcloth@2x.webp 2x, images/trust/washcloth@1x.webp 1x" 
                  type="image/webp"
                  media="(min-width: 1440px)"
                  width="150"
                  height="150"
                >
                <source 
                  srcset="images/trust/washcloth@2x.png 2x, images/trust/washcloth@1x.png 1x" 
                  type="image/png"
                  media="(min-width: 1440px)"
                  width="150"
                  height="150"
                >
                <img src="images/trust/washcloth@1x.png" alt="Зображення інструмента для клінінгу" width="150" height="150">
              </picture>
            </div>
          </div>
        </li>
        <li class="container swiper-slide">
          <div class="slide__container"><h2 class="calc-banner__title"> Прибирання у офісах, ресторанах та магазинах</h2>
          <div class="container calc-banner__images-wrapper">
            <picture data-value = '-4' class='calc-banner__image image-4'>
              <source 
                srcset="images/banner/after-repair-banner/tool-8@2x.webp 2x, images/banner/after-repair-banner/tool-8@1x.webp 1x" 
                type="image/webp"
                media="(max-width: 767px)"
                width="50"
                height='auto'
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-8@2x.png 2x, images/banner/after-repair-banner/tool-8@1x.png 1x" 
                type="image/png"
                media="(max-width: 767px)"
                width="50"
                height='auto'
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-8@2x.webp 2x, images/banner/after-repair-banner/tool-8@1x.webp 1x" 
                type="image/webp"
                media="(max-width: 1439px)"
                width="90"
                height='auto'
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-8@2x.png 2x, images/banner/after-repair-banner/tool-8@1x.png 1x" 
                type="image/png"
                media="(max-width: 1439px)"
                width="90"
                height='auto'
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-8@2x.webp 2x, images/banner/after-repair-banner/tool-8@1x.webp 1x" 
                type="image/webp"
                media="(min-width: 1440px)"
                width="100"
                height='auto'
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-8@2x.png 2x, images/banner/after-repair-banner/tool-8@1x.png 1x" 
                type="image/png"
                media="(min-width: 1440px)"
                width="100"
                height='auto'
              >
              <img src="images/banner/after-repair-banner/tool-8@1x.png" alt="Зображення інструмента для клінінгу" width="100" height="100">
            </picture>
            <picture data-value = '3' class='calc-banner__image image-2'>
              <source 
                srcset="images/banner/after-repair-banner/tool-7@2x.webp 2x, images/banner/after-repair-banner/tool-7@1x.webp 1x" 
                type="image/webp"
                media="(max-width: 767px)"
                width="auto"
                height="120"
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-7@2x.png 2x, images/banner/after-repair-banner/tool-7@1x.png 1x" 
                type="image/png"
                media="(max-width: 767px)"
                width="auto"
                height="120"
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-7@2x.webp 2x, images/banner/after-repair-banner/tool-7@1x.webp 1x" 
                type="image/webp"
                media="(min-width: 768px)"
                width="auto"
                height="150"
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-7@2x.png 2x, images/banner/after-repair-banner/tool-7@1x.png 1x" 
                type="image/png"
                media="(min-width: 768px)"
                width="auto"
                height="150"
              >
              <img src="images/banner/after-repair-banner/tool-7@1x.png" alt="Зображення інструмента для клінінгу" width="150" height="150">
            </picture>
            <picture data-value = '-8' class='calc-banner__image image-3'>
              <source 
                srcset="images/trust/brush@2x.webp 2x, images/trust/brush@1x.webp 1x" 
                type="image/webp"
                media="(max-width: 767px)"
                width="100"
                height="100"
              >
              <source 
                srcset="images/trust/brush@2x.png 2x, images/trust/brush@1x.png 1x" 
                type="image/png"
                media="(max-width: 767px)"
                width="100"
                height="100"
              >
              <source 
                srcset="images/trust/brush@2x.webp 2x, images/trust/brush@1x.webp 1x" 
                type="image/webp"
                media="(max-width: 1439px)"
                width="150"
                height="150"
              >
              <source 
                srcset="images/trust/brush@2x.png 2x, images/trust/brush@1x.png 1x" 
                type="image/png"
                media="(max-width: 1439px)"
                width="150"
                height="150"
              >
              <source 
                srcset="images/trust/brush@2x.webp 2x, images/trust/brush@1x.webp 1x" 
                type="image/webp"
                media="(min-width: 1440px)"
                width="200"
                height="200"
              >
              <source 
                srcset="images/trust/brush@2x.png 2x, images/trust/brush@1x.png 1x" 
                type="image/png"
                media="(min-width: 1440px)"
                width="200"
                height="200"
              >
              <img src="images/trust/brush@1x.png" alt="Зображення інструмента для клінінгу" width="200" height="200">
            </picture>
            <picture data-value = '2' class='calc-banner__image image-1'>
              <source 
                srcset="images/banner/after-repair-banner/tool-5@2x.webp 2x, images/banner/after-repair-banner/tool-5@1x.webp 1x" 
                type="image/webp"
                media="(max-width: 767px)"
                width="90"
                height='auto'
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-5@2x.png 2x, images/banner/after-repair-banner/tool-5@1x.png 1x" 
                type="image/png"
                media="(max-width: 767px)"
                width="90"
                height='auto'
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-5@2x.webp 2x, images/banner/after-repair-banner/tool-5@1x.webp 1x" 
                type="image/webp"
                media="(max-width: 1439px)"
                width="140"
                height='auto'
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-5@2x.png 2x, images/banner/after-repair-banner/tool-5@1x.png 1x" 
                type="image/png"
                media="(max-width: 1439px)"
                width="140"
                height='auto'
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-5@2x.webp 2x, images/banner/after-repair-banner/tool-5@1x.webp 1x" 
                type="image/webp"
                media="(min-width: 1440px)"
                width="200"
                height='auto'
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-5@2x.png 2x, images/banner/after-repair-banner/tool-5@1x.png 1x" 
                type="image/png"
                media="(min-width: 1440px)"
                width="200"
                height='auto'
              >
              <img src="images/banner/after-repair-banner/tool-5@1x.png" alt="Зображення інструмента для клінінгу" width="200" height="200">
            </picture>
          </div>
        </div>
          
         
        </li>
        <li class="container swiper-slide">
          <div class="slide__container"> <h2 class="calc-banner__title">Прибирання після ремонту</h2>
          <div class="container calc-banner__images-wrapper">
            <picture data-value = '3' class='calc-banner__image image-1'>
              <source 
                srcset="images/banner/after-repair-banner/tool-1@2x.webp 2x, images/banner/after-repair-banner/tool-1@1x.webp 1x" 
                type="image/webp"
                media="(max-width: 767px)"
                width="60"
                height='auto'
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-1@2x.png 2x, images/banner/after-repair-banner/tool-1@1x.png 1x" 
                type="image/png"
                media="(max-width: 767px)"
                width="60"
                height='auto'
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-1@2x.webp 2x, images/banner/after-repair-banner/tool-1@1x.webp 1x" 
                type="image/webp"
                media="(max-width: 1439px)"
                width="80"
                height='auto'
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-1@2x.png 2x, images/banner/after-repair-banner/tool-1@1x.png 1x" 
                type="image/png"
                media="(max-width: 1439px)"
                width="80"
                height='auto'
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-1@2x.webp 2x, images/banner/after-repair-banner/tool-1@1x.webp 1x" 
                type="image/webp"
                media="(min-width: 1440px)"
                width="120"
                height='auto'
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-1@2x.png 2x, images/banner/after-repair-banner/tool-1@1x.png 1x" 
                type="image/png"
                media="(min-width: 1440px)"
                width="120"
                height='auto'
              >
              <img src="images/banner/after-repair-banner/tool-1@1x.png" alt="Зображення інструмента для клінінгу" width="120" height="200">
            </picture>
            <picture data-value = '-8' class='calc-banner__image image-2'>
              <source 
                srcset="images/banner/after-repair-banner/tool-2@2x.webp 2x, images/banner/after-repair-banner/tool-2@1x.webp 1x" 
                type="image/webp"
                media="(max-width: 767px)"
                width="80"
                height='auto'
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-2@2x.png 2x, images/banner/after-repair-banner/tool-2@1x.png 1x" 
                type="image/png"
                media="(max-width: 767px)"
                width="80"
                height='auto'
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-2@2x.webp 2x, images/banner/after-repair-banner/tool-2@1x.webp 1x" 
                type="image/webp"
                media="(max-width: 1439px)"
                width="100"
                height='auto'
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-2@2x.png 2x, images/banner/after-repair-banner/tool-2@1x.png 1x" 
                type="image/png"
                media="(max-width: 1439px)"
                width="100"
                height='auto'
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-2@2x.webp 2x, images/banner/after-repair-banner/tool-2@1x.webp 1x" 
                type="image/webp"
                media="(min-width: 1440px)"
                width="140"
                height='auto'
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-2@2x.png 2x, images/banner/after-repair-banner/tool-2@1x.png 1x" 
                type="image/png"
                media="(min-width: 1440px)"
                width="140"
                height='auto'
              >
              <img src="images/banner/after-repair-banner/tool-1@1x.png" alt="Зображення інструмента для клінінгу" width="140" height="140">
            </picture>
            <picture data-value = '7' class='calc-banner__image image-3'>
              <source 
                srcset="images/banner/after-repair-banner/tool-3@2x.webp 2x, images/banner/after-repair-banner/tool-3@1x.webp 1x" 
                type="image/webp"
                media="(max-width: 767px)"
                width="auto"
                height="80"
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-3@2x.png 2x, images/banner/after-repair-banner/tool-3@1x.png 1x" 
                type="image/png"
                media="(max-width: 767px)"
                width="auto"
                height="80"
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-3@2x.webp 2x, images/banner/after-repair-banner/tool-3@1x.webp 1x" 
                type="image/webp"
                media="(max-width: 1439px)"
                width="auto"
                height="120"
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-3@2x.png 2x, images/banner/after-repair-banner/tool-3@1x.png 1x" 
                type="image/png"
                media="(max-width: 1439px)"
                width="auto"
                height="120"
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-3@2x.webp 2x, images/banner/after-repair-banner/tool-3@1x.webp 1x" 
                type="image/webp"
                media="(min-width: 1440px)"
                width="auto"
                height="160"
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-3@2x.png 2x, images/banner/after-repair-banner/tool-3@1x.png 1x" 
                type="image/png"
                media="(min-width: 1440px)"
                width="auto"
                height="160"
              >
              <img src="images/banner/after-repair-banner/tool-3@1x.png" alt="Зображення інструмента для клінінгу" width="auto" height="160">
            </picture>
            <picture data-value = '-2' class='calc-banner__image image-4'>
              <source 
                srcset="images/banner/after-repair-banner/tool-4@2x.webp 2x, images/banner/after-repair-banner/tool-4@1x.webp 1x" 
                type="image/webp"
                media="(max-width: 767px)"
                width="120"
                height='auto'
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-4@2x.png 2x, images/banner/after-repair-banner/tool-4@1x.png 1x" 
                type="image/png"
                media="(max-width: 767px)"
                width="120"
                height='auto'
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-4@2x.webp 2x, images/banner/after-repair-banner/tool-4@1x.webp 1x" 
                type="image/webp"
                media="(max-width: 1439px)"
                width="140"
                height='auto'
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-4@2x.png 2x, images/banner/after-repair-banner/tool-4@1x.png 1x" 
                type="image/png"
                media="(max-width: 1439px)"
                width="140"
                height='auto'
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-4@2x.webp 2x, images/banner/after-repair-banner/tool-4@1x.webp 1x" 
                type="image/webp"
                media="(min-width: 1440px)"
                width="180"
                height='auto'
              >
              <source 
                srcset="images/banner/after-repair-banner/tool-4@2x.png 2x, images/banner/after-repair-banner/tool-4@1x.png 1x" 
                type="image/png"
                media="(min-width: 1440px)"
                width="180"
                height='auto'
              >
              <img src="images/banner/after-repair-banner/tool-4@1x.png" alt="Зображення інструмента для клінінгу" width="180" height="180">
            </picture>
          </div>
        </div>
        </li>
    </ul>
    <div class="swiper-pagination"></div>
  </div>

</section>