$main-accent-color: #4D1299;
$first-additional-bg-color: #F4F4F8;
$second-additional-bg-color: #EBE7F3;
$primary-white-color: #FFFFFF;
$light-accent-color: rgba(	77, 18, 153, 0.3);
$border-input-color: rgba(	77, 18, 153, 0.5);
$discount-color: rgb(121, 55, 208);
$datepicker-color: rgba(	77, 18, 153, 0.11);
$additional-accent-color: #FF8427;
$additional-light-accent-color: #f79e5a;
$primary-black-color: #1B1B1B;
$additional-text-color: rgba(27, 27, 27, 0.6);
$placeholder-text-color: rgba(27, 27, 27, 0.7);
$secondary-text-color: #252525;
$label-text-color: rgba(27, 27, 27, 0.5);
$second-additional-text-color: rgba(	235,231,243, 0.8);
$overlay-color: rgba(0, 0, 0, 0.4);
$error-color: #CC0000;
$banner-color-1: rgba(222, 194, 250,0.5);
$banner-color-2: rgb(221, 210, 242);
$banner-color-3: #f8ddf6;
$btn-arrow-color: #49454F;
$time-picker-color: #EBE1F3;
$time-picker-number-color: #1C1B1F;
$time-picker-tablo-color: #21005D;
$card-hover-effect-color: #d6bcf7;
$card-back-effect-color: #e3d5f5;
$dark-theme: #25292c;
$dark-add-color: #c5c5c7;
$dark-add-2-color: #d7d7d9;
$dark-add-3-color: #d4d0db;
$dark-add-4-color: #e6e6e8;
$cubic: 300ms cubic-bezier(0.4, 0, 0.2, 1);

