<section class="section section--cleaning-types">
  <div class="container">
    <h2 class="section__title title">Що входить в прибирання?</h2>
    @@include('../common/month-subscr-types.html')
    <div class="swiper">
      <ul class="swiper-pagination-rooms"></ul>
      <div class="swiper-container ">
        <div class="swiper-wrapper ">
            <div class="swiper-slide schema--kitchen ">
                @@include('pictures/kitchen-picture.html')
            </div>
            <div class="swiper-slide  schema--room ">
              @@include('pictures/room-picture.html')
            </div>
            <div class="swiper-slide schema--bath ">
                @@include('pictures/bath-picture.html')
            </div>  
        </div>
      </div>
  </div>
    
  </div>
</section>
