<section
  class="relative-positionedsection section--dark-background section--hero home-hero"
>
  <div class="container hero__container">
    <div class="hero__info">
      <h1 class="hero__title">
        <span>Приберемо</span> у вашому будинку чи квартирі у Лодзі всього
        <span>за 399zł</span>
      </h1>
      <p class="hero__text">
        Клінінгова компанія Comfort Group пропонує акційну підписку на послуги
        клінінгу у Лодзі всього за <span>399zł</span>. Підписка включає
        прибирання в кімнатах, санвузлі та кухні.
      </p>
      <div class="animated-btn-wrap">
        <a
          href="#order-cleaning-block"
          class="btn hero__btn action-btn blob-btn"
        >
          Замовити прибирання
          <span class="blob-btn__inner">
            <span class="blob-btn__blobs">
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
              <span class="blob-btn__blob"></span>
            </span>
          </span>
        </a>
        <svg class="animated-btn-icon">
          <defs>
            <filter id="goo-15" x="0%" y="0%" width="100%" height="100%">
              <feGaussianBlur
                in="SourceGraphic"
                result="blur"
                stdDeviation="10"
              ></feGaussianBlur>
              <feColorMatrix
                in="blur"
                type="matrix"
                values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7"
                result="goo"
              ></feColorMatrix>
              <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
            </filter>
          </defs>
        </svg>
      </div>
      <div class="sphere"></div>
    </div>
    <div class="container--thumb-wrapp">
      <div class="hero__image"></div>
    </div>
  </div>
</section>
