<section
  class="section section--dark-background no-padding-bottom cleaning"
  id="order-cleaning-block"
>
  <div class="container order-cleaning__container">
    <h2 class="section__title">Пакет прибирання на місяць</h2>
    <p class="cleaning__text">
      Підписка діє протягом 30 днів та лише за однією адресою. При закінченні
      терміну дія підписки згорає. Працюємо лише по місту Лодзь
    </p>
    @@include('../common/month-subscr-block.html')
    <div class="cleaning__banner banner">
      <h3 class="info-block__title title--white title--no-margin">
        Порадь нас своїм знайомим та отримай знижку на наступну підписку з
        прибирання <span>50zł!</span>
      </h3>
      @@include('../common/stars-svg.html')
    </div>
  </div>
</section>
